<template>
  <div class="dashboard_contenedor">
    <div class="zona_estatica">
      <img
        :src="'../img/blurbus-1528285.jpg'"
        title="Scrabble"
        alt="FreeImages.com/Slivester Nuenenorl"
      >
    </div>
    <div class="zona_dinamica">
      <div class="head1">
        <div class="titulo_head">Scrabble</div>
        <div class="info_head">
          <div>
            <img class="avatar" :src="c_avatar" :title="c_user.name">
            <span>{{ c_user.name }}</span>
          </div>
          <div class="info_statistics">
            <img
              class="icon"
              :src="'../img/xp.png'"
              alt="Icon made by Alfredo Hernandez [https://www.flaticon.es/autores/alfredo-hernandez] from [https://www.flaticon.com] "
              title="Nivel Jugador"
            >
            <span>{{ c_nivelMedio }}</span>
            <i class="fas fa-user-graduate" title="Partidas Ganadas"></i>
            <span>{{ c_ganadas }}</span>
            <i class="far fa-thumbs-down" title="Partidas Perdidas"></i>
            <span>{{ c_perdidas }}</span>
          </div>
        </div>
      </div>
      <estadisticas-usuario-component
        :user="c_user"
        :statistics="c_statistics"
        class="user_statistics"
        @recibir-datos="onGetData"
      ></estadisticas-usuario-component>
      <ranking-usuario-component
        :user="c_user"
        :statistics="c_statistics"
        :usualopponents="c_usualopponents"
        class="userRanking"
      ></ranking-usuario-component>
    </div>
  </div>
</template>

<style lang="scss" scoped>
@import "../../sass/variables_david";
.dashboard_contenedor {
  display: grid;
  margin: 10px 10% 10px 10%;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: 0.5fr repeat(4, 1fr) 0.5fr;
  @media screen and (max-width: 1450px) {
    grid-template-rows: repeat(6, 150px);
  }
}
.info_head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
}
.info_statistics {
  display: flex;
  align-items: center;
  span {
    margin: 5px 10px 5px 0;
  }
  i {
    margin: 5px 10px 0 0;
  }
}
.zona_estatica {
  grid-column: 1/5;
  grid-row: 2/6;
  border: 1px solid red;
  //background-image: url("../img/blurbus-1528285.jpg");
  background-size: cover;
  border-radius: 3px;
  img {
    //grid-column: 1/3;
    border-radius: 3px;
    opacity: 0.8;
    width: 100%;
    height: 100%;
    @media screen and (max-width: 655px) {
      height: auto;
    }
  }
  @media screen and (max-width: 1450px) {
    grid-column: 3/9;
    grid-row: 1/3;
  }
}
.zona_dinamica {
  grid-column: 4/11;
  grid-row: 1/7;
  background: rgba(231, 231, 231, 0.3);
  background-size: 100%;
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(13, 1fr);
  grid-template-rows: 0.5fr 220px 300px;
  grid-template-areas:
    "neutro neutro head1 head1 head1 head1 head1 head1 head1 head1 head1 head1 head1"
    "neutro neutro comp1 comp1 comp1 comp1 comp1 comp1 comp1 comp1 comp1 comp1 comp1"
    "neutro neutro comp2 comp2 comp2 comp2 comp2 comp2 comp2 comp2 comp2 comp2 comp2";
  @media screen and (max-width: 1450px) {
    grid-template-rows: 90px 90px 150px 260px 260px;
    grid-column: 1/11;
    grid-row: 2/7;
    grid-template-areas:
      "neutro neutro neutro neutro neutro neutro neutro neutro neutro neutro neutro neutro neutro"
      "neutro neutro neutro neutro neutro neutro neutro neutro neutro neutro neutro neutro neutro"
      "head1 head1 head1 head1 head1 head1 head1 head1 head1 head1 head1 head1 head1"
      "comp1 comp1 comp1 comp1 comp1 comp1 comp1 comp1 comp1 comp1 comp1 comp1 comp1"
      "comp2 comp2 comp2 comp2 comp2 comp2 comp2 comp2 comp2 comp2 comp2 comp2 comp2";
    //height: 1355px;
  }
  @media screen and (max-width: 866px) {
    grid-template-rows: 90px 90px 150px 260px 780px;
    grid-column: 1/11;
    grid-row: 2/7;
    grid-template-areas:
      "neutro neutro neutro neutro neutro neutro neutro neutro neutro neutro neutro neutro neutro"
      "neutro neutro neutro neutro neutro neutro neutro neutro neutro neutro neutro neutro neutro"
      "head1 head1 head1 head1 head1 head1 head1 head1 head1 head1 head1 head1 head1"
      "comp1 comp1 comp1 comp1 comp1 comp1 comp1 comp1 comp1 comp1 comp1 comp1 comp1"
      "comp2 comp2 comp2 comp2 comp2 comp2 comp2 comp2 comp2 comp2 comp2 comp2 comp2";
    //height: 1355px;
  }
}

.user_statistics {
  grid-area: comp1;
}
.userRanking {
  grid-area: comp2;
}
.head1 {
  font-family: Roboto, sans-serif;
  font-size: 1.5rem;
  font-weight: 900;
  margin: auto 0 10px 0;
  grid-area: head1;
  align-items: center;
}
.avatar {
  width: 100px;
  height: 100px;
  margin-right: 10px;
  border: 1px solid black;
  border-radius: 10px;
  padding: 5px;
}
.icon {
  width: 26px;
  height: 26px;
  margin: 5px 10px 0 0;
}
</style>

<script>
import DashboardContenedorComponent from "./DashboardContenedorComponent";
import RankingUsuarioComponent from "./RankingUsuarioComponent";
import ModalWindowComponent from "./ModalWindowComponent";
export default {
  name: "dashboard-contenedor-component",
  props: {
    user: { required: true, type: Object },
    avatar: { required: true, type: String },
    statistics: { required: true, type: Array },
    usualopponents: { required: true, type: Array }
  },
  components: {
    DashboardContenedorComponent
  },
  data() {
    return {
      c_user: null,
      c_avatar: null,
      c_statistics: null,
      c_usualopponents: null,
      c_nivelMedio: 0,
      c_nivelES: 0,
      c_nivelEN: 0,
      c_ganadas: 0,
      c_perdidas: 0,
      c_window: false,
      c_title: "",
      c_message: "",
      c_idg: null
    };
  },
  methods: {
    onGetData: function(nivel, ganadas, perdidas, nivelES, nivelEN) {
      this.c_nivelMedio = nivel;
      this.c_ganadas = ganadas;
      this.c_perdidas = perdidas;
      this.c_nivelES = nivelES;
      this.c_nivelEN = nivelEN;

      if (isNaN(this.c_nivelMedio)) {
        this.c_nivelMedio = 0;
      }
    },
    listenForBroadcast: function() {
      console.log("Escuchando canales: user" + this.c_user.id);
      var vm = this;
      Echo.private("user." + this.c_user.id).listen("AcceptedChallenge", e => {
        vm.c_title = "Confirmación de partida ";
        vm.c_message =
          "Generada partida " +
          e.gameId +
          "\nIdioma: " +
          e.lang +
          "\nOponente\n\tid: " +
          e.oppoId +
          "\n\tNombre: " +
          e.oppoName +
          "\n\tPaís: " +
          e.oppoCountry +
          "\n\tPulsa sobre esta ventana para acceder a la partida.";

        vm.c_idg = e.gameId;
        vm.c_window = true;
        Push.create(this.c_title, {
          body: this.c_message,
          icon: "/img/notify_success.png",
          timeout: 6000,
          onClick: function() {
            this.gotoGame();
            this.window.close();
          }
        });
      });
    },
    gotoGame: function(event, idg) {
      if (idg === undefined) {
        idg = this.c_idg;
      }
      var url =
        location.protocol +
        "//" +
        location.hostname +
        (location.port ? ":" + location.port : "");
      window.location.href = url + "/scrabble/game/" + idg;
    }
  },
  created() {
    this.c_user = this.user;
    this.c_avatar = this.avatar;
    this.c_statistics = this.statistics;
    this.c_usualopponents = this.usualopponents;
    this.listenForBroadcast();
  },
  mounted() {
    console.log("Componete dashboard-contenedor-component montado");
  }
};
</script>
