<template>
  <div>
    <div class="infoChallengesContenedor">
      <div class="gamesListContenedor">
        <div class="head">
          <span>LISTADO DE PARTIDAS DE {{ c_user.name | firstWord }}</span>
          <span>Total: {{ c_total }}</span>
        </div>
        <div class="main">
          <span v-if="c_sin_datos != ''" class="rojo">{{ c_sin_datos }}</span>
          <ul class="gamesList" v-if="c_sin_datos == ''">
            <li v-for="(game, index) of c_gamesList" :key="index" class="listGames">
              <a>
                <span id="lenguage" class="row avat">
                  <div class="avatar">
                    <img
                      :src="game.language == 'es' ? '../img/espana.png' : '../img/reino-unido.png'"
                      alt="Icon made by www.freepik.com from www.flaticon.com"
                      :title="'Lenguage: ' + game.language"
                    >
                  </div>
                </span>
                <span id="p1_avatar" class="row avat">
                  <div class="avatar">
                    <img :src="game.player1.avatar" alt="Sin avatar" :title="game.player1.name">
                  </div>
                </span>
                <span id="p1_name" class="row name">
                  <span class="name">{{ game.player1.name | firstWord }}</span>
                </span>
                <span id="p1_score" class="row score">
                  <div class="title">Puntos</div>
                  <div class="content">{{ game.player_1_score }}</div>
                </span>
                <span id="vs_" class="row vs">vs</span>
                <span id="p2_score" class="row score">
                  <div class="title">Puntos</div>
                  <div class="content">{{ game.player_2_score }}</div>
                </span>
                <span id="p2_name" class="row name">
                  <span class="name">{{ game.player2.name | firstWord }}</span>
                </span>
                <span id="p2_avatar" class="row avat">
                  <div class="avatar">
                    <img :src="game.player2.avatar" alt="Sin avatar" :title="game.player2.name">
                  </div>
                </span>
              </a>
            </li>
          </ul>
        </div>
        <div class="navigation" v-if="c_sin_datos == ''">
          <span :class="c_currentPage <= 1 ? 'oculto' : 'visible'">
            <a @click="userGamesPag(c_firsPageURL)">{{ c_primero }}</a>
          </span>
          <span :class="c_currentPage <= 1 ? 'oculto' : 'visible'">
            <a @click="userGamesPag(c_prevPageURL)">{{ c_anterior }}</a>
          </span>
          <span>{{ c_currentPage }}</span>
          <span :class="c_currentPage >= c_lastPage  ? 'oculto' : 'visible'">
            <a @click="userGamesPag(c_nextPageURL)">{{ c_siguiente }}</a>
          </span>
          <span :class="c_currentPage >= c_lastPage  ? 'oculto' : 'visible'">
            <a @click="userGamesPag(c_lastPageURL)">{{ c_ultimo }}</a>
          </span>
        </div>
      </div>
      <div class="challengesContenedor">
        <div class="head">
          <span>LISTADO DE PARTIDAS EN CURSO</span>
          <div class="acciones">
            <ul class="nav-items">
              <li class="nav-item">
                Aleatoria
                <i class="fas fa-angle-down"></i>
                <ul>
                  <li @click="newGame(c_espanol)">
                    Español
                    <span>{{ c_espanol }}</span>
                  </li>
                  <li @click="newGame(c_ingles)">
                    Ingles
                    <span>{{ c_ingles }}</span>
                  </li>
                </ul>
              </li>
              <li class="nav-item">
                Nuevo Reto
                <i class="fas fa-angle-down"></i>
                <ul>
                  <li>
                    <a @click="newChallengeLessLevel(c_espanol, c_nivel_menor_es)">
                      <span>{{ c_espanol }}</span>
                      Nivel {{ c_menor_igual }} {{ c_nivel_menor_es }}
                    </a>
                    <i
                      v-if="c_nivel_menor_es > 0"
                      class="far fa-minus-square"
                      @click="c_nivel_menor_es--"
                    ></i>
                    <i class="far fa-plus-square" @click="c_nivel_menor_es++"></i>
                  </li>
                  <li>
                    <a @click="newChallengeLessLevel(c_ingles, c_nivel_menor_en)">
                      <span>{{ c_ingles }}</span>
                      Nivel {{ c_menor_igual }} {{ c_nivel_menor_en }}
                    </a>
                    <i
                      v-if="c_nivel_menor_en > 0"
                      class="far fa-minus-square"
                      @click="c_nivel_menor_en--"
                    ></i>
                    <i class="far fa-plus-square" @click="c_nivel_menor_en++"></i>
                  </li>
                  <li>
                    <a @click="newChallengeHigherLevel(c_spanol, c_nivel_mayor_es)">
                      <span>{{ c_espanol }}</span>
                      Nivel {{ c_mayor_igual }} {{ c_nivel_mayor_es }}
                    </a>
                    <i
                      v-if="c_nivel_mayor_es > 0"
                      class="far fa-minus-square"
                      @click="c_nivel_mayor_es--"
                    ></i>
                    <i class="far fa-plus-square" @click="c_nivel_mayor_es++"></i>
                  </li>
                  <li>
                    <a @click="newChallengeHigherLevel(c_ingles, c_nivel_mayor_en)">
                      <span>{{ c_ingles }}</span>
                      Nivel {{ c_mayor_igual }} {{ c_nivel_mayor_en }}
                    </a>
                    <i
                      v-if="c_nivel_mayor_en > 0"
                      class="far fa-minus-square"
                      @click="c_nivel_mayor_en--"
                    ></i>
                    <i class="far fa-plus-square" @click="c_nivel_mayor_en++"></i>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
        <div class="main">
          <span v-if="c_sin_datos != ''" class="rojo">{{ c_sin_datos }}</span>
          <ul class="challengesList" v-if="c_sin_datos == ''">
            <li v-for="(game, index) of c_games" :key="index">
              <a @click="gotoGame(game.id)" target="_blanc">
                <span id="avatarPlayer" class="row avat">
                  <div class="avatar">
                    <img :src="c_avatar" :title="c_user.name">
                  </div>
                </span>
                <span id="namePlayer" class="row name">
                  <span class="name">{{ c_user.name | firstWord }}</span>
                </span>
                <span id="puntosPlayer" class="row score">
                  <div class="title">Puntos</div>
                  <div class="content">{{ game.player_score }}</div>
                </span>
                <span id="vs" class="row vs">vs</span>
                <span id="opponentPuntos" class="row score">
                  <div class="title">Puntos</div>
                  <div class="content">{{ game.opponent_score }}</div>
                </span>
                <span id="opponentName" class="row name">
                  <span class="name">{{ game.opponent[0].name | firstWord }}</span>
                </span>
                <span id="opponentAvatar" class="row avat">
                  <div class="avatar">
                    <img
                      :src="game.opponent[0].avatar"
                      alt="Sin avatar"
                      :title="game.opponent[0].name"
                    >
                  </div>
                </span>
                <span id="state" class="row state">
                  <div class="title">Turno</div>
                  <div class="content" v-if="game.state==0">Confirmando</div>
                  <div class="content" v-else-if="game.state==1">{{ c_user.name | firstWord }}</div>
                  <div
                    class="content"
                    v-else-if="game.state==2"
                  >{{ game.opponent[0].name | firstWord }}</div>
                </span>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="userListContenedor">
        <div class="head">
          <span>LISTADO DE JUGADORES REGISTRADOS</span>
          <input type="search" v-model="c_search" placeholder="Buscar Jugador">
          <!-- <span>Total: {{ c_total }}</span> -->
        </div>
        <div class="main">
          <span v-if="c_sin_datos != ''" class="rojo">{{ c_sin_datos }}</span>
          <ul v-if="c_sin_datos == ''" class="userList">
            <li v-for="plyr of filteredPlayers" :key="plyr.id" class="listUserInfo">
              <span id="idPlayer" class="row id">
                <span class="name">{{ plyr.id }}</span>
              </span>
              <span id="namePlyr" class="row name">
                <span class="name">{{ plyr.name }}</span>
              </span>
              <span id="emailPlayer" class="row email">
                <div class="content">{{ plyr.email }}</div>
              </span>
              <span id="retarPlayer" class="row retar">
                <div class="title">Retar</div>
                <div class="content">
                  <a @click="newChallengeSelectUser(c_espanol, plyr.id)">
                    <span>{{ c_espanol }}</span>
                  </a>
                  <a @click="newChallengeSelectUser(c_ingles, plyr.id)">
                    <span>{{ c_ingles }}</span>
                  </a>
                </div>
              </span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
$background-purple: #eeeeee;
$subtle-white: #f9f9f9;
$subtle-grey: #f2f2f2;
$masked-grey: #333;
$blue: #f03861;

$roboto-sans: Roboto, sans-serif;

.infoChallengesContenedor {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 445px 430px;
  grid-template-areas: "finalizadas en_juego" "buscar buscar";
  grid-gap: 5px 5px;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  margin: 5px 0;
  @media screen and (max-width: 1450px) {
    grid-template-columns: 1fr;
    grid-template-rows: 425px 425px 425px;
    grid-template-areas: "finalizadas" "en_juego" "buscar";
  }
}
.challengesContenedor,
.gamesListContenedor,
.userListContenedor {
  display: grid;
  border-radius: 0.6rem;
  font: {
    family: Roboto, sans-serif;
    size: 0.9rem;
  }
  line-height: 2rem;
  color: #000;
  //max-width: 800px;
  width: 100%;
  margin: 5px;
}

.challengesContenedor {
  grid-area: en_juego;
  grid-template-rows: 80px 1fr;
  grid-template-areas:
    "head"
    "main";
}
.gamesListContenedor {
  grid-area: finalizadas;
  grid-template-rows: 80px 270px 60px;
  grid-template-areas:
    "head"
    "main"
    "navigation";
  height: 410px;
}
.userListContenedor {
  grid-area: buscar;
  grid-template-rows: 80px 1fr;
  grid-template-areas:
    "head"
    "main";
  height: 410px;
}
.head {
  grid-area: head;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  background: rgba(81, 81, 82, 0.8);
  margin: 15px 0;
  color: #fff;
  font: {
    family: Roboto-Medium, sans-serif;
    weight: bold;
    size: 0.9rem;
  }
}
.acciones {
  ul {
    font-size: 0;
    list-style-type: none;
    height: 40px;
    display: flex;
    margin-top: 3px;
    margin-bottom: 0.5rem !important;

    // initial li
    li {
      font-family: $roboto-sans;
      font-size: 0.8rem;
      font-weight: 400;
      color: $subtle-white;
      padding: 8px;
      display: inline-block;
      position: relative;
      margin: auto 5px 0;
      align-items: center;

      // secondary ul
      ul {
        display: none;
      }

      // initial li:hover
      &:hover {
        cursor: pointer;
        background-color: $subtle-grey;
        color: $masked-grey;

        // secondary ul visibility change
        ul {
          display: block;
          width: 200px;
          top: 45px;
          left: -5px;
          z-index: 2;
          position: absolute;

          // secondary li
          li {
            display: block;
            background-color: darken($subtle-white, 7%);
            color: $masked-grey;
            width: 150px;
            z-index: 2;
            padding-left: 5px;
            display: flex;
            justify-content: space-between;
            span {
              color: $subtle-white;
              background-color: $blue;
              padding: 2px 5px;
              margin: 5px 10px;
              text-align: center;
              font-size: 0.8rem;
              border-radius: 3px;
            }

            &:hover {
              background-color: darken($subtle-white, 10%);
              span {
                background-color: darken($blue, 5%);
              }
            }
          }
        }
      }
    }
  }
}
.main {
  grid-area: main;
  background: #fff;
  border-radius: 3px;
}
.navigation {
  grid-area: navigation;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  font: {
    family: Roboto-Medium, sans-serif;
    weight: bold;
    size: 0.9rem;
  }
  span {
    margin: 0 10px;
  }
  span:hover {
    cursor: pointer;
  }
}
.challengesList,
.gamesList,
.userList {
  width: 100%;
  backface-visibility: hidden;
  border: 1px solid rgba(231, 231, 231, 0.3);
  margin-bottom: 0 !important;
  li {
    height: 5.6rem;
    line-height: 1.5;
    display: block;
    overflow: hidden;
    z-index: 1;
    position: relative;
    border-bottom: 1px solid rgba(231, 231, 231, 0.3);
    align-items: center;
    span {
      margin-right: 10px;
      margin-left: 10px;
    }
    & span.row {
      display: inline-block;
      vertical-align: middle;
      position: relative;
      .title {
        font-family: Roboto-Medium, sans-serif;
        font-size: 0.9rem;
        color: black;
        top: -0.2rem;
        position: relative;
        text-align: center;
      }
      .content {
        text-align: center;
        font-size: 0.9rem;
      }
    }
    & span.row.num {
      margin: auto;
      font: {
        family: Roboto-Medium, sans-serif;
        size: 0.9rem;
      }
      color: black;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
    & span.row.avat {
      width: 2.8rem;
      height: 2.8rem;
      position: relative;
      margin-left: 0.4rem;
      margin-right: 0.4rem;
      background-color: #e2e3e4;
    }
    & span.row.avat img {
      backface-visibility: hidden;
    }
    & span.row.id {
      margin: auto;
      display: block;
      line-height: 2rem;
      font-family: Roboto-Medium, sans-serif;
      color: black;
      top: -0.2rem;
      position: relative;
    }
    & span.row.name {
      margin: auto;
      .name {
        display: block;
        line-height: 2rem;
        font-family: Roboto-Medium, sans-serif;
        color: black;
        top: -0.2rem;
        position: relative;
      }
    }
    & span.row.email {
      margin: auto;
      display: block;
      line-height: 2rem;
      font-family: Roboto-Medium, sans-serif;
      color: black;
      top: -0.2rem;
      position: relative;
    }
    & span.row.score {
      margin: auto;
      display: block;
      line-height: 2rem;
      font-family: Roboto-Medium, sans-serif;
      color: black;
      top: -0.2rem;
      position: relative;
    }
    & span.row.vs {
      margin: auto;
      font: {
        family: Roboto-Medium, sans-serif;
        size: 0.9rem;
      }
      color: black;
      text-align: center;
    }
    & span.row.state {
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      line-height: 2rem;
      font-family: Roboto-Medium, sans-serif;
      color: black;
      top: -0.2rem;
      position: relative;
    }
  }
}
.challengesList {
  a {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 0.5fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "player p_name p_puntos vs o_puntos o_name opponent state";
    // flex-direction: row;
    justify-items: center;
    align-items: center;
    position: relative;
    // height: 100%;
    text-decoration: none;
    outline: none;
    cursor: pointer;
    @media screen and (max-width: 555px) {
      grid-template-columns: 1fr 1fr 0.5fr 1fr 1fr 1fr;
      grid-template-areas: "p_name p_puntos vs o_puntos o_name state";
    }
  }
  height: 358px;
  overflow: auto;
}
.listGames {
  a {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 0.5fr 1fr 1fr 1fr;
    grid-template-areas: "lenguage p1_avatar p1_name p1_score vs_ p2_score p2_name p2_avatar";
    justify-items: center;
    align-items: center;
    position: relative;
    height: 100%;
    text-decoration: none;
    outline: none;
    cursor: pointer;
    @media screen and (max-width: 555px) {
      grid-template-columns: 1fr 1fr 1fr 0.5fr 1fr 1fr;
      grid-template-areas: "lenguage p1_name p1_score vs_ p2_score p2_name";
    }
  }
}
.userList {
  li {
    display: grid;
    grid-template-columns: 0.2fr 1fr 1fr 0.6fr;
    grid-template-areas: "id nombre email retar";
    width: 100%;
    justify-content: center;
    align-items: center;
    position: relative;
    // @media screen and (max-width: 555px) {
    //   grid-template-columns: 1fr 1fr 0.5fr 1fr 1fr 1fr;
    //   grid-template-areas: "p_name p_puntos vs o_puntos o_name state";
    // }
  }
  height: 358px;
  overflow: auto;
}

.avatar .avat {
  width: 100%;
  height: 100%;
}
.avatar {
  img {
    width: 100%;
    height: 100%;
    display: block;
    overflow: hidden;
    border-radius: 2px;
  }
}
#avatarPlayer {
  grid-area: player;
  @media screen and (max-width: 555px) {
    display: none;
  }
}
#namePlayer {
  grid-area: p_name;
}
#puntosPlayer {
  grid-area: p_puntos;
}
#vs {
  grid-area: vs;
}
#opponentPuntos {
  grid-area: o_puntos;
}
#opponentName {
  grid-area: o_name;
}
#opponentAvatar {
  grid-area: opponent;
  @media screen and (max-width: 555px) {
    display: none;
  }
}
#state {
  grid-area: state;
}
#lenguage {
  grid-area: lenguage;
}
#p1_avatar {
  grid-area: p1_avatar;
  @media screen and (max-width: 555px) {
    display: none;
  }
}
#p1_name {
  grid-area: p1_name;
}
#p1_score {
  grid-area: p1_score;
}
#vs_ {
  grid-area: vs_;
}
#p2_score {
  grid-area: p2_score;
}
#p2_name {
  grid-area: p2_name;
}
#p2_avatar {
  grid-area: p2_avatar;
  @media screen and (max-width: 555px) {
    display: none;
  }
}
#idPlayer {
  grid-area: id;
}
#namePlyr {
  grid-area: nombre;
}
#emailPlayer {
  grid-area: email;
}
#retarPlayer {
  grid-area: retar;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .content {
    a {
      text-decoration: none;
      cursor: pointer;
      span {
        color: $subtle-white;
        background-color: $blue;
        padding: 2px 5px;
        margin: 5px 10px;
        text-align: center;
        font-size: 0.8rem;
        border-radius: 3px;
      }
    }
  }
}
.rojo {
  color: red;
}
.azul {
  color: blue;
}
.oculto {
  visibility: hidden;
}
.visible {
  visibility: visible;
}
</style>

<script>
export default {
  name: "dashboard-infochallenges-component",
  props: {
    user: { required: true, type: Object },
    avatar: { required: true, type: String },
    games: { required: true, type: Array }
  },
  data() {
    return {
      c_user: null,
      c_userName: null,
      c_avatar: null,
      c_games: null,
      c_gamesList: null,
      c_infoGamesList: null,
      c_currentPage: null,
      c_firsPageURL: null,
      c_lastPageURL: null,
      c_nextPageURL: null,
      c_prevPageURL: null,
      c_lastPage: null,
      c_indexFrom: null,
      c_indexTo: null,
      c_total: null,
      c_ingles: "en",
      c_espanol: "es",
      c_primero: "<<",
      c_ultimo: ">>",
      c_siguiente: ">",
      c_anterior: "<",
      c_menor_igual: "<=",
      c_mayor_igual: ">=",
      c_nivel_menor_es: 0,
      c_nivel_menor_en: 0,
      c_nivel_mayor_es: 0,
      c_nivel_mayor_en: 0,
      c_sin_datos: "",
      c_buscarUser: null,
      c_listUsers: [],
      c_listUsersFiltered: [],
      c_search: "",
      c_requestChallengeId: null,
      c_title: "",
      c_message: ""
    };
  },
  computed: {
    filteredPlayers: function() {
      return this.c_listUsersFiltered.filter(player => {
        return player.name.match(this.c_search);
      });
    }
  },
  methods: {
    gotoGame: function(idg) {
      console.log("id" + idg);
      if (idg === undefined) {
        idg = this.c_requestChallengeId;
      }
      var url =
        location.protocol +
        "//" +
        location.hostname +
        (location.port ? ":" + location.port : "");
      window.location.href = url + "/scrabble/game/" + idg;
    },
    newGame: function(language) {
      var vm = this;
      var idioma = language;
      // solicita una partida en español
      return axios
        .post("/scrabble/challenge/request/" + idioma)
        .then(function(response) {
          console.log("Reto creado:", response);
          vm.c_title = "Acción realizada";
          vm.c_message = "Reto Creado. Espera la confirmación";
          Push.create(vm.c_title, {
            body: vm.c_message,
            icon: "/img/notify_wait.png",
            timeout: 10000,
            onClick: function() {
              vm.window.close();
            }
          });
        })
        .catch(function(error) {
          console.log("ERROR: " + error);
          vm.c_title = "Error";
          vm.c_message = error;
          Push.create(vm.c_title, {
            body: vm.c_message,
            icon: "/img/notify_error.png",
            timeout: 10000,
            onClick: function() {
              vm.window.close();
            }
          });
        });
    },
    newChallengeLessLevel: function(language, level) {
      var vm = this;
      var idioma = language;
      var nivel = level * -1;
      // solicita una partida en español
      return axios
        .post("/scrabble/challenge/request/" + idioma + "/level/" + nivel)
        .then(function(response) {
          console.log("Reto creado:", response);
          vm.c_nivel_menor_es = 0;
          vm.c_nivel_menor_en = 0;
          vm.c_title = "Acción realizada";
          vm.c_message = "Reto Creado. Espera la confirmación";
          Push.create(vm.c_title, {
            body: vm.c_message,
            icon: "/img/notify_wait.png",
            timeout: 10000,
            onClick: function() {
              vm.window.close();
            }
          });
        })
        .catch(function(error) {
          console.log("ERROR: " + error);
          vm.c_title = "Error";
          vm.c_message = error;
          Push.create(vm.c_title, {
            body: vm.c_message,
            icon: "/img/notify_error.png",
            timeout: 10000,
            onClick: function() {
              vm.window.close();
            }
          });
        });
    },
    newChallengeHigherLevel: function(language, level) {
      var vm = this;
      var idioma = language;
      var nivel = level;
      // solicita una partida en español
      return axios
        .post("/scrabble/challenge/request/" + idioma + "/level/" + nivel)
        .then(function(response) {
          console.log("Reto creado:", response);
          vm.c_nivel_mayor_es = 0;
          vm.c_nivel_mayor_en = 0;
          vm.c_title = "Acción realizada";
          vm.c_message = "Reto Creado. Espera la confirmación";
          Push.create(vm.c_title, {
            body: vm.c_message,
            icon: "/img/notify_wait.png",
            timeout: 10000,
            onClick: function() {
              vm.window.close();
            }
          });
        })
        .catch(function(error) {
          console.log("ERROR: " + error);
          vm.c_title = "Error";
          vm.c_message = error;
          Push.create(vm.c_title, {
            body: vm.c_message,
            icon: "/img/notify_error.png",
            timeout: 10000,
            onClick: function() {
              vm.window.close();
            }
          });
        });
    },
    newChallengeSelectUser: function(language, id) {
      var vm = this;
      var idioma = language;
      var _id = id;
      // solicita una partida en español
      return axios
        .post("/scrabble/challenge/request/" + idioma + "/against/" + _id)
        .then(function(response) {
          console.log("Reto creado:", response);
          vm.c_title = "Acción realizada";
          vm.c_message = "Reto Creado. Espera la confirmación";
          Push.create(vm.c_title, {
            body: vm.c_message,
            icon: "/img/notify_wait.png",
            timeout: 10000,
            onClick: function() {
              vm.window.close();
            }
          });
        })
        .catch(function(error) {
          console.log("ERROR: " + error);
          vm.c_title = "Error";
          vm.c_message = error;
          Push.create(vm.c_title, {
            body: vm.c_message,
            icon: "/img/notify_error.png",
            timeout: 10000,
            onClick: function() {
              vm.window.close();
            }
          });
        });
    },
    userGames: function() {
      var vm = this;
      // partidas del usuario paginadas, 3 por página
      return axios
        .get("/scrabble/user/games/3")
        .then(function(response) {
          vm.c_infoGamesList = response.data;
          vm.c_gamesList = vm.c_infoGamesList.data; // lista de partidas del usuario
          vm.c_currentPage = vm.c_infoGamesList.current_page;
          vm.c_firsPageURL = vm.c_infoGamesList.first_page_url;
          vm.c_nextPageURL = vm.c_infoGamesList.next_page_url;
          vm.c_prevPageURL = vm.c_infoGamesList.prev_page_url;
          vm.c_lastPageURL = vm.c_infoGamesList.last_page_url;
          vm.c_lastPage = vm.c_infoGamesList.last_page;
          vm.c_indexFrom = vm.c_infoGamesList.from;
          vm.c_indexTo = vm.c_infoGamesList.to;
          vm.c_total = vm.c_infoGamesList.total;
          if (vm.c_gamesList.length == 0) {
            vm.c_sin_datos = vm.c_user.name + " no tiene partidas registradas.";
          }
        })
        .catch(function(error) {
          alert("ERROR: " + error);
          vm.c_title = "Error";
          vm.c_message = error;
          Push.create(vm.c_title, {
            body: vm.c_message,
            icon: "/img/notify_error.png",
            timeout: 10000,
            onClick: function() {
              vm.window.close();
            }
          });
        });
    },
    userGamesPag: function(url) {
      var vm = this;
      var url = url;
      // partidas del usuario paginadas, 3 por página
      return axios
        .get(url)
        .then(function(response) {
          vm.c_infoGamesList = response.data;
          vm.c_gamesList = vm.c_infoGamesList.data; // lista de partidas del usuario
          vm.c_currentPage = vm.c_infoGamesList.current_page;
          vm.c_firsPageURL = vm.c_infoGamesList.first_page_url;
          vm.c_nextPageURL = vm.c_infoGamesList.next_page_url;
          vm.c_prevPageURL = vm.c_infoGamesList.prev_page_url;
          vm.c_lastPageURL = vm.c_infoGamesList.last_page_url;
          vm.c_lastPage = vm.c_infoGamesList.last_page;
          vm.c_indexFrom = vm.c_infoGamesList.from;
          vm.c_indexTo = vm.c_infoGamesList.to;
          vm.c_total = vm.c_infoGamesList.total;

          if (vm.c_gamesList.length == 0) {
            vm.c_sin_datos = vm.c_user.name + " no tiene partidas en juego.";
          }
        })
        .catch(function(error) {
          alert("ERROR: " + error);
          vm.c_title = "Error";
          vm.c_message = error;
          Push.create(vm.c_title, {
            body: vm.c_message,
            icon: "/img/notify_error.png",
            timeout: 10000,
            onClick: function() {
              vm.window.close();
            }
          });
        });
    },
    listUsers: function() {
      var vm = this;
      // solicita la lista de jugadores
      return axios
        .get("/scrabble/search/user/live", {
          params: {
            name: vm.c_buscarUser
          }
        })
        .then(function(response) {
          vm.c_listUsers = response.data;
          vm.c_listUsers.forEach(element => {
            if (element.name != vm.c_user.name) {
              vm.c_listUsersFiltered.push(element);
            }
          });
        })
        .catch(function(error) {
          alert("ERROR: " + error);
          vm.c_title = "Error";
          vm.c_message = error;
          Push.create(vm.c_title, {
            body: vm.c_message,
            icon: "/img/notify_error.png",
            timeout: 10000,
            onClick: function() {
              vm.window.close();
            }
          });
        });
    }
    // listenForBroadcast: function() {
    //   var vm = this;
    //   //console.log("Escuchando canales: user" + this.c_user.id);
    //   Echo.private("user." + this.c_user.id).listen("AcceptedChallenge", e => {
    //     vm.c_message =
    //       "Generada partida " +
    //       e.gameId +
    //       "\nIdioma: " +
    //       e.lang +
    //       "\nOponente\n\tid: " +
    //       e.oppoId +
    //       "\n\tNombre: " +
    //       e.oppoName +
    //       "\n\tPaís: " +
    //       e.oppoCountry;

    //     vm.c_requestChallengeId = e.gameId;
    //     vm.c_title = "Reto Aceptado";
    //     vm.c_message = error;
    //     Push.create(vm.c_title, {
    //       body: vm.c_message,
    //       icon: "/img/notify_success.png",
    //       timeout: 10000,
    //       onClick: function() {
    //         vm.gotoGame();
    //         vm.window.close();
    //       }
    //     });
    //     //console.log("Recibido");
    //   });
    // }
  },
  created() {
    this.c_user = this.user;
    this.c_userName = this.user.name;
    this.c_avatar = this.avatar;
    this.c_games = this.games;
    this.userGames();
    // this.listenForBroadcast();
    //console.log("RCID: " + this.c_requestChallengeId);
    this.listUsers();
  },
  mounted() {
    console.log("Componente dashboard-infochallenges-component montado");
  },
  updated() {}
};
</script>