<template>
  <div class="userInfo_container">
    <img
      id="fondo"
      :src="'../img/game-2790713_1920.jpg'"
      title="CC0 Creative Commons. Gratis para usos comerciales, No es necesario reconocimiento"
    >
    <div id="userAvatar" class="avatar_container">
      <upload-image-component :editar="editar" :image="c_avatar" @avatar-change="onAvatarChange"></upload-image-component>
    </div>
    <div id="userInfo" class="gridUser">
      <div id="userCreatedAt" class="infouser">
        <span class="valor">Jugador desde</span>
        <span
          class="valor"
          :class="{ rojo: c_user.created_at == null }"
        >{{ c_user.created_at == null ? "se ignora" : c_user.created_at | fechaES }}</span>
      </div>
      <div id="userName" class="infouser">
        <span class="dato" v-if="!editar">Nombre:</span>
        <span class="valor" v-if="!editar">{{ c_user.name }}</span>
        <label v-if="editar" for="nombre" class="inp">
          <input
            type="text"
            name="nombre"
            id="nombre"
            v-if="editar"
            v-model="c_user.name"
            placeholder="&nbsp;"
          >
          <span class="label">Nombre:</span>
          <span class="border"></span>
        </label>
      </div>
      <div id="userMail" class="infouser">
        <span class="dato">Email:</span>
        <span class="valor">{{ c_user.email }}</span>
      </div>
      <div id="userCountry" class="infouser">
        <span class="dato" v-if="!editar">País:</span>
        <span class="valor" v-if="!editar">{{ c_user.country }}</span>
        <label for="pais" class="inp" v-if="editar">
          <input
            type="text"
            name="pais"
            id="pais"
            v-if="editar"
            v-model="c_user.country"
            placeholder="&nbsp;"
          >
          <span class="label">País:</span>
          <span class="border"></span>
        </label>
      </div>
      <div id="userLanguage" class="infouser">
        <span class="dato" v-if="!editar">Idioma:</span>
        <span class="valor" v-if="!editar">{{ c_user.favourite_language }}</span>
        <label for="pais" class="inp" v-if="editar">
          <input
            type="text"
            name="idioma"
            id="idioma"
            v-if="editar"
            v-model="c_user.favourite_language"
            placeholder="&nbsp;"
          >
          <span class="label">Idioma:</span>
          <span class="border"></span>
        </label>
      </div>
      <div id="userState" class="infouser">
        <span class="dato">Estado:</span>
        <span :class="{rojo: user.state==='offline'}">{{ c_user.state }}</span>
      </div>
    </div>
    <div class="btn_container">
      <a
        href="#"
        :class="{boton_editar: !editar, boton_confirmar: editar}"
        @click.prevent="editAvatar"
      >
        <span>{{ accion }}</span>
      </a>
      <a href="#" class="boton_borrar" @click.prevent="removeAvatar">
        <span>Borrar Avatar</span>
      </a>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.userInfo_container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(5, 75px);
  border-radius: 10px;
  width: 100%;
  z-index: -1;
  img {
    grid-column: 1 / 13;
    grid-row: 1 / 6;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  #userAvatar {
    grid-column: 2 / 4;
    grid-row: 1 / 2;
    z-index: 3;
  }
  #userInfo {
    grid-column: 3 / 12;
    grid-row: 2 / 5;
    z-index: 2;
  }
  .btn_container {
    grid-column: 9 / 12;
    grid-row: 5;
    margin: auto auto;
    justify-items: space-around;
    z-index: 3;
  }
  @media screen and (max-width: 1486px) {
    .btn_container {
      grid-column: 7 / 12;
      grid-row: 5;
      margin: auto auto;
      justify-items: space-around;
      z-index: 3;
    }
  }
  @media screen and (max-width: 768px) {
    #userAvatar {
      grid-column: 6 / 9;
      grid-row: 1 / 2;
      z-index: 3;
    }
    // .btn_container {
    //   grid-column: 7 / 12;
    //   grid-row: 5;
    //   margin: auto auto;
    //   justify-items: space-around;
    //   z-index: 3;
    // }
  }

  @media screen and (max-width: 613px) {
    a > span {
      display: none;
    }
  }
  @media screen and (max-width: 414px) {
    #userAvatar {
      grid-column: 5 / 10;
      grid-row: 1 / 2;
      z-index: 3;
    }
    .btn_container {
      grid-column: 3 / 12;
      grid-row: 5;
      margin: auto auto;
      justify-items: space-around;
      z-index: 3;
    }
    a > span {
      display: none;
    }
  }
}
.gridUser {
  display: grid;
  grid-template-columns: 0.5fr repeat(3, 1fr);
  grid-template-rows: repeat(2, 0.5fr);
  .infouser {
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    font-family: Roboto, sans-serif;
    font-size: 1rem;
    font-weight: 800;
  }
  #userCreatedAt {
    grid-column: 2;
    grid-row: 1;
    border-bottom: 1px solid rgba(231, 231, 231, 0.5);
  }
  #userName {
    grid-column: 3;
    grid-row: 1;
    border-bottom: 1px solid rgba(231, 231, 231, 0.5);
  }
  #userMail {
    grid-column: 4;
    grid-row: 1;
    border-bottom: 1px solid rgba(231, 231, 231, 0.5);
  }
  #userCountry {
    grid-column: 2;
    grid-row: 2;
  }
  #userLanguage {
    grid-column: 3;
    grid-row: 2;
  }
  #userState {
    grid-column: 4;
    grid-row: 2;
  }
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 15px 15px 15px -5px rgba($color: #d1cbcb, $alpha: 2);
  @media screen and (max-width: 1543px) {
    #userMail,
    #userName {
      display: -ms-flex;
      display: -webkit-flex;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
    }
  }
  @media screen and (max-width: 768px) {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 0.5fr);
    .infouser {
      display: -ms-flex;
      display: -webkit-flex;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
    }
    #userCreatedAt {
      grid-column: 1;
      grid-row: 3;
    }
    #userName {
      grid-column: 2;
      grid-row: 3;
    }
    #userMail {
      grid-column: 3;
      grid-row: 3;
    }
    #userCountry {
      grid-column: 1;
      grid-row: 4;
    }
    #userLanguage {
      grid-column: 2;
      grid-row: 4;
    }
    #userState {
      grid-column: 3;
      grid-row: 4;
    }
  }
  @media screen and (max-width: 414px) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 0.5fr);
    .infouser {
      display: -ms-flex;
      display: -webkit-flex;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      border-bottom: 1px solid rgba($color: #d1cbcb, $alpha: 2);
    }
    #userId {
      grid-column: 1;
      grid-row: 3;
    }
    #userName {
      grid-column: 2;
      grid-row: 3;
    }
    #userMail {
      grid-column: 1;
      grid-row: 4;
    }
    #userCountry {
      grid-column: 2;
      grid-row: 4;
    }
    #userLanguage {
      grid-column: 1;
      grid-row: 5;
      border-bottom-left-radius: 10px;
    }
    #userState {
      grid-column: 2;
      grid-row: 5;
      border-bottom-right-radius: 10px;
    }
  }
}
.avatar_container {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}
.boton_borrar {
  display: inline-block;
  cursor: pointer;
  background-color: #027381;
  color: #fff;
  text-align: center;
  border-radius: 10rem;
  padding: 0.5rem 1.4rem;
  margin-top: 10px;
  height: 2rem;
  font-size: 0.8rem;
  line-height: 1;

  &:before {
    font-family: "Font Awesome 5 free";
    content: "\f2ed";
    font-size: 15px;
    padding-right: 2px;
  }
  &:hover {
    background-color: #4ba2b0;
    color: #000;
    text-decoration: none;
  }
  a {
    text-decoration: none;
  }
}
.boton_editar {
  display: inline-block;
  cursor: pointer;
  background-color: #815502;
  color: #fff;
  text-align: center;
  border-radius: 10rem;
  padding: 0.5rem 1.4rem;
  margin-top: 10px;
  height: 2rem;
  font-size: 0.8rem;
  line-height: 1;

  &:before {
    font-family: "Font Awesome 5 free";
    content: "\f044";
    font-size: 15px;
    padding-right: 2px;
  }
  &:hover {
    background-color: #b0904b;
    color: #000;
    text-decoration: none;
  }
  a {
    text-decoration: none;
  }
}
.boton_confirmar {
  display: inline-block;
  cursor: pointer;
  background-color: #028102;
  color: #fff;
  text-align: center;
  border-radius: 10rem;
  padding: 0.5rem 1.4rem;
  margin-top: 10px;
  height: 2rem;
  font-size: 0.8rem;
  line-height: 1;

  &:before {
    font-family: "Font Awesome 5 free";
    content: "\f058";
    font-size: 15px;
    padding-right: 2px;
  }
  &:hover {
    background-color: #57b04b;
    color: #000;
    text-decoration: none;
  }
  a {
    text-decoration: none;
  }
}
.rojo {
  font-weight: bold;
  color: red;
}
.inp {
  position: relative;
  margin: auto;
  width: 100%;
  max-width: 180px;
  .label {
    position: absolute;
    top: 16px;
    left: 0;
    font-family: Roboto, sans-serif;
    font-size: 1rem;
    color: #3e4046;
    font-weight: 500;
    transform-origin: 0 0;
    transition: all 2s ease;
  }
  .border {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background: #07f;
    transform: scale(0);
    transform-origin: 0 0;
    transition: all 15s ease;
  }
  input {
    -webkit-appearance: none;
    width: 100%;
    border: 0;
    font-family: inherit;
    padding: 12px 0;
    height: 48px;
    font-size: 1rem;
    font-weight: 500;
    border-bottom: 2px solid #808183;
    background: none;
    border-radius: 0;
    color: #223254;
    transition: all 15s ease;
    &:hover {
      background: rgba(#223254, 0.03);
    }
    &:not(:placeholder-shown) {
      + span {
        color: #5a667f;
        transform: translateY(-26px) scale(0.75);
      }
    }
    &:focus {
      background: none;
      outline: none;
      + span {
        color: #07f;
        transform: translateY(-26px) scale(0.75);
        + .border {
          transform: scale(1);
        }
      }
    }
  }
}
.dato,
.valor {
  margin-right: 4px;
}
</style>
<script>
import UploadImageComponent from "./UploadImageComponent";

export default {
  name: "datos-usuario-component",
  props: {
    user: { required: true, type: Object },
    avatar: { required: true, type: String }
  },
  components: {
    UploadImageComponent
  },
  data() {
    return {
      c_user: null,
      c_avatar: null,
      editar: false,
      accion: "Editar"
    };
  },
  methods: {
    onAvatarChange: function(image) {
      this.c_avatar = image;
      this.editar = !this.editar;
    },
    removeAvatar: function(event) {
      //  event.preventDefault(); no hace falta ya que lo he puesto en la llamada
      console.log("Entro en remove avatar");
      this.c_avatar = null;
      var vm = this;
      return axios
        .post("/scrabble/user/avatar/remove")
        .then(function(response) {
          console.log("Elimina avatar respuesta:", response);
          alert("Avatar eliminado.");
          vm.editar = !vm.editar;
          //vm.createCard('Remove Avatar', response.status, response.statusText, response.data);
        })
        .catch(function(error) {
          console.log("ERROR: " + error);
          alert("Error:" + error);
          vm.editar = !vm.editar;
          //vm.createCard('Giveup Game', error.response.status, error.response.statusText, error.response.data);
        });
    },
    editAvatar: function(event) {
      this.editar = !this.editar;
      if (!this.editar) {
        this.accion = "Editar";
        this.updateUser();
      } else {
        this.accion = "Confirmar";
      }
    },
    updateUser: function() {
      var vm = this;
      // modifica los datos del usuario.
      // el JSON de ejemplo incuye todos los posibles datos a modificar
      // podría sólo indicarse uno
      return axios
        .put("/scrabble/user/update", {
          name: vm.c_user.name,
          country: vm.c_user.country,
          favourite_language: vm.c_user.favourite_language
          // new_password: "1234567",
          // new_password_confirmation: "1234567",
          // old_password: "12345"
        })
        .then(function(response) {
          alert("Datos del usuario" + vm.c_user.name + " actualizados");

          /* IMPORTANTE: en caso de hacer cambio de password el servidor
                       hace un logout y por lo tanto conviene volver a la página de login
                       siempre se ejecuta
                       uso replace para que la página actual desaparezca del historial
                       y evitar la tecla back

                        setTimeout(function () {
                            window.location.replace('/scrabble/login');
                        }, 2000);
                    */
        })
        .catch(function(error) {
          console.log("ERROR: " + error);
          alert("ERROR: " + error);
        });
    }
  },
  created() {
    this.c_user = this.user;
    if (!this.avatar) {
      this.c_avatar = "/storage/public/default_avatar.jpg";
      this.editar = false;
    } else {
      this.c_avatar = this.avatar;
      this.editar = false;
    }
  }
};
</script>
