<template>
  <div class="info_container">
    <div class="info">
      <span class="data">Partida Número:</span>
      <span class="value">{{ c_game.id }}</span>
    </div>
    <div class="info">
      <span class="data">Idioma:</span>
      <span class="value">{{ c_game.language == "es" ? "Castellano" : "Inglés" }}</span>
    </div>
    <div class="info">
      <span class="data">Juega:</span>
      <span class="value">{{ c_game.state == "turn_p1" ? "Jugador 1" : "Jugador 2" }}</span>
    </div>
    <div class="info">
      <span class="data">Fichas en el saco:</span>
      <span class="value">{{ c_game.remaining_tokens }}</span>
    </div>
    <div class="info" v-if="game.updated_at">
      <span class="data">Última tirada:</span>
      <span class="value">{{ c_game.updated_at | fechaES }}</span>
    </div>
    <div class="info" v-else>
      <span class="data">Última tirada:</span>
      <span class="value">Partida no iniciada</span>
    </div>
  </div>
</template>

<style lang="scss" scoped>
@import "../../sass/variables_david";
.info_container {
  display: flex;
  justify-content: space-between;
  align-content: center;
  grid-area: info_game;
  margin: 0 40px 0 40px;
  background-color: $azul_scrabble;
  box-shadow: 0 10px 5px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  @media screen and (max-width: 1240px) {
    div:nth-child(2),
    div:nth-child(5) {
      display: none;
    }
  }
}
.info {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  background-color: $azul_scrabble;
  color: #fff;
  width: 100%;
  font: {
    family: $font-family;
    weight: bold;
    size: $font-size-1;
  }
  .data {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid $gris_opacidad_alta;
    text-shadow: 0 0 30px #fff;
  }
  .value {
    font-size: $font-size-2;
  }
}
</style>
<script>
export default {
  name: "datos-juego-component",
  props: ["game", "user"],
  data() {
    return {
      c_game: null,
      c_user: null
    };
  },
  methods: {
    listenForBroadcast: function() {
      console.log(
        "Escuchando canales: game." + this.c_game.id + ".user." + this.c_user.id
      );
      var vm = this;
      Echo.private("game." + vm.c_game.id).listen("OpponentThrow", e => {
        vm.c_game.state = e.state;
      });
    }
  },
  filters: {
    fechaES: function(value) {
      var fecha = value;
      var hora = fecha.substring(11, 19);
      fecha = fecha
        .substring(0, 10)
        .split("-")
        .reverse()
        .join("/");
      return fecha + " - " + hora;
    }
  },
  created() {
    this.c_game = this.game;
    this.c_user = this.user;
    this.listenForBroadcast();
  },
  mounted() {
    console.log("DatosJuegoComponent montado.");
  }
};
</script>