<template>
  <div
    :class="c_statistics.length > 1 ? 'user_statistics_container' : 'user_statistics_container_empty'"
  >
    <div v-if="c_statistics.length > 1" class="contenedorIdioma">
      <div
        class="datosIdioma"
        :class="'idioma' + index"
        v-for="(estadisticas, index) of c_statistics"
        :key="index"
      >
        <div class="cabecera">
          <div id="userLevel" class="userStats">
            <span class="dato">
              <img
                v-if="estadisticas.language_code === 'es'"
                :src="'../img/espana.png'"
                title="Nivel idioma español."
                alt="Icon made by www.freepik.com from www.flaticon.com"
              >
              <img
                v-else-if="estadisticas.language_code === 'en'"
                :src="'../img/reino-unido.png'"
                title="Nivel idioma ingles."
                alt="Icon made by www.freepik.com from www.flaticon.com"
              >
              Nivel:
            </span>
            <span v-if="estadisticas.language_code === 'es'" class="valor">{{ levelES }}</span>
            <span v-else-if="estadisticas.language_code === 'en'" class="valor">{{ levelEN }}</span>
          </div>
        </div>
        <div class="principal">
          <div class="ganadas">
            <div
              v-if="estadisticas.language_code === 'es'"
              class="graphWin"
              title="Victorias"
              :style="{ height: valorStyleGanadasES + 'px'}"
            >
              <span class="valor">{{ valores_idiomas.ganadasES }}</span>
            </div>
            <div
              v-else-if="estadisticas.language_code === 'en'"
              class="graphWin"
              title="Victorias"
              :style="{ height: valorStyleGanadasEN + 'px'}"
            >
              <span class="valor">{{ valores_idiomas.ganadasEN }}</span>
            </div>
            <div id="userWins" class="userStats">
              <span class="dato">
                <i class="fas fa-user-graduate" title="Partidas Ganadas"></i>
              </span>
            </div>
          </div>
          <div class="perdidas">
            <div
              v-if="estadisticas.language_code === 'es'"
              class="graphLose"
              title="Derrotas"
              :style="{ height: valorStylePerdidasES + 'px'}"
            >
              <span class="valor">{{ valores_idiomas.perdidasES }}</span>
            </div>
            <div
              v-else-if="estadisticas.language_code === 'en'"
              class="graphLose"
              title="Derrotas"
              :style="{ height: valorStylePerdidasEN + 'px'}"
            >
              <span class="valor">{{ valores_idiomas.perdidasEN }}</span>
            </div>
            <div id="userLost" class="userStats">
              <span class="dato">
                <i class="far fa-thumbs-down" title="Partidas Perdidas"></i>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="acciones" v-if="sin_datos == ''">
      Actualizar Estadísticas:
      <button @click="userStatistics" title="Actualizar Estadísticas">
        <i class="fas fa-sync-alt"></i>
      </button>
    </div>
    <div class="mensaje" v-if="sin_datos!=''">
      <div class="sin_datos">{{ sin_datos }}</div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.user_statistics_container,
.user_statistics_container_empty {
  display: flex;
  // grid-template-rows: minmax(100%, 250px);
  background: #fff;
  align-content: flex-end;
  justify-content: flex-start;
  justify-items: flex-start;
  // grid-template-areas: "idiomas acciones";
  grid-gap: 5px 10px;
  width: 100%;
  height: 200px;
}
.user_statistics_container {
  @media screen and (max-width: 1450px) {
    display: grid;
    grid-auto-columns: 250px;
    grid-template-rows: minmax(35px, 150px);
    justify-items: center;
    align-items: center;
    justify-content: center;
    grid-row-gap: 5px;
    grid-template-areas: "acciones" "idiomas";
    margin: auto 0;
    height: 260px;
  }
}
.user_statistics_container_empty {
  @media screen and (max-width: 1450px) {
    grid-template-columns: minmax(100%, 200px);
    grid-template-rows: minmax(100%, 180px);
    justify-items: center;
    grid-row-gap: 5px;
    grid-template-areas: "idiomas";
  }
}
.datosIdioma {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 0.5fr);
  padding: 10px;
  margin: 5px 10px 5px 3px;
  border: 1px solid rgba(57, 59, 66, 0.7);
  border-radius: 5px;
  width: 150px;
  grid-template-areas:
    "titulo"
    "contenido";
  font: {
    size: 0.9rem;
  }
  @media screen and (max-width: 1450px) {
    margin: 5px 10px 5px 3px;
  }
}
.contenedorIdioma {
  grid-area: idiomas;
  display: flex;
  flex-direction: row;
  align-content: flex-end;
  justify-content: center;

  @media screen and (max-width: 1450px) {
    display: flex;
    align-content: center;
    align-items: space-between;
    justify-items: center;
    justify-content: center;
  }
}
.cabecera {
  grid-area: "titulo";
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  justify-content: flex-end;
  font: {
    family: Roboto, sans-serif;
    size: 0.8rem;
  }

  margin-bottom: 5px;
}
.principal {
  grid-area: "contenido";
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.ganadas,
.perdidas {
  margin-right: 2px;
  margin-left: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  text-align: center;
}
.graphLose,
.graphWin {
  padding: 2px 5px 0 5px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  align-items: flex-end;
  width: 34px;
  text-align: center;
}
.graphWin {
  background-color: rgba(115, 189, 96, 0.7);
  height: 100px;
}
.graphLose {
  background-color: rgba(189, 96, 108, 0.7);
  height: 85px;
}
.sin_datos {
  color: red;
  margin: 10px 0 10px 5px;
}
.userStats {
  .dato {
    img {
      max-width: 30px;
      max-height: 30px;
      width: 100%;
      height: 100%;
    }
  }
}
.acciones {
  grid-area: acciones;
  button {
    width: 75px;
    border-radius: 5px;
    background: #000;
    color: #fff;
    &:hover {
      background: rgba(231, 231, 231, 0.5);
      color: #000;
    }
  }
}
</style>

<script>
export default {
  name: "estadisticas-usuario-component",
  props: ["user", "statistics"],
  data() {
    return {
      c_user: null,
      c_statistics: null,
      level: 0,
      wins: 0,
      loses: 0,
      winsES: 0,
      losesES: 0,
      winsEN: 0,
      losesEN: 0,
      valores_totales: {},
      valores_idiomas: {},
      sin_datos: "",
      ganadas: "",
      perdidas: "",
      ganadasES: "",
      perdidasES: "",
      ganadasEN: "",
      perdidasEN: "",
      levelES: 0,
      levelEN: 0,
      alto: 15,
      nivelMedio: 0,
      c_title: "",
      c_message: ""
    };
  },
  computed: {
    valorStyleGanadas: function() {
      if (this.wins > this.loses) {
        return (this.ganadas = 100);
      } else {
        var proporcion = (this.wins * 100) / this.loses;
        if (proporcion <= 22) {
          this.ganadas = 22;
        } else {
          this.ganadas = proporcion;
        }
        return this.ganadas;
      }
    },
    valorStylePerdidas: function() {
      if (this.wins < this.loses) {
        return (this.perdidas = 100);
      } else {
        var proporcion = (this.loses * 100) / this.wins;
        if (proporcion <= 22) {
          this.proporcion = 22;
        } else {
          this.perdidas = proporcion;
        }
        return this.perdidas;
      }
    },
    valorStyleGanadasES: function() {
      if (this.winsES > this.losesES) {
        return (this.ganadasES = 100);
      } else {
        var proporcion = (this.winsES * 100) / this.losesES;
        console.log(proporcion);
        if (proporcion < 22) {
          this.ganadasES = 22;
        } else {
          this.ganadasES = proporcion;
        }
        return this.ganadasES;
      }
    },
    valorStylePerdidasES: function() {
      if (this.winsES < this.losesES) {
        return (this.perdidasES = 100);
      } else {
        var proporcion = (this.losesES * 100) / this.winsES;
        console.log(proporcion);
        if (proporcion < 22) {
          this.perdidasES = 22;
        } else {
          this.perdidasES = proporcion;
        }
        return this.perdidasES;
      }
    },
    valorStyleGanadasEN: function() {
      if (this.winsEN > this.losesEN) {
        return (this.ganadasEN = 100);
      } else {
        var proporcion = (this.winsEN * 100) / this.losesEN;
        console.log(proporcion);
        if (proporcion < 22) {
          this.ganadasEN = 22;
        } else {
          this.ganadasEN = proporcion;
        }
        return this.ganadasEN;
      }
    },
    valorStylePerdidasEN: function() {
      if (this.winsEN < this.losesEN) {
        return (this.perdidasEN = 100);
      } else {
        var proporcion = (this.losesEN * 100) / this.winsEN;
        console.log(proporcion);
        if (proporcion < 22) {
          this.perdidasEN = 22;
        } else {
          this.perdidasEN = proporcion;
        }
        return this.perdidasEN;
      }
    }
  },
  methods: {
    initialStatistics: function() {
      if (this.c_statistics.length > 0) {
        this.c_statistics.forEach(element => {
          switch (element.language_code) {
            case "es":
              this.winsES = parseInt(element.won);
              this.losesES = parseInt(element.lost);
              this.levelES = parseInt(element.level);
              break;
            case "en":
              this.winsEN = parseInt(element.won);
              this.losesEN = parseInt(element.lost);
              this.levelEN = parseInt(element.level);
              break;
          }

          this.wins += parseInt(element.won);
          this.loses += parseInt(element.lost);
        });
        this.level = parseInt(this.levelES + this.levelEN);
        this.nivelMedio =
          parseInt(this.level) / parseInt(this.c_statistics.length);
        this.valores_totales = {
          ganadas: this.wins,
          perdidas: this.loses
        };
        this.valores_idiomas = {
          ganadasES: this.winsES,
          perdidasES: this.losesES,
          ganadasEN: this.winsEN,
          perdidasEN: this.losesEN
        };
      } else {
        this.sin_datos =
          "No existen datos estadísticos del jugador " + this.c_user.name;
        console.log("Sin datos");
      }
    },
    userStatistics: function() {
      var vm = this;
      // estadísiticas via AJAX
      return axios
        .get("/scrabble/user/statistics")
        .then(function(response) {
          vm.initialStatistics();
          console.log("Estadísticas actualizadas");
          vm.c_title = "Acción realizada";
          vm.c_message = "Estadísticas actualizadas";
          Push.create(vm.c_title, {
            body: vm.c_message,
            icon: "/img/notify_success.png",
            timeout: 10000,
            onClick: function() {
              vm.window.close();
            }
          });
        })
        .catch(function(error) {
          console.log("ERROR de estadisticas: " + error);
          vm.c_title = "Notificación de error";
          vm.c_message = "ERROR de estadisticas: " + error;
          Push.create(vm.c_title, {
            body: vm.c_message,
            icon: "/img/notify_error.png",
            timeout: 10000,
            onClick: function() {
              vm.window.close();
            }
          });
          vm.sin_datos = "No hay datos estadísticos del usuario.";
        });
    },
    mandarDatos: function() {
      this.$emit(
        "recibir-datos",
        Math.floor(this.nivelMedio),
        this.wins,
        this.loses,
        this.levelES,
        this.levelEN
      );
      console.log(
        "mandar datos " +
          Math.floor(this.nivelMedio) +
          " " +
          this.wins +
          " " +
          this.loses +
          " " +
          this.levelES +
          " " +
          this.levelEN
      );
    }
    // listenForBroadcast: function() {
    //   console.log("Escuchando canales: user" + this.c_user.id);
    //   Echo.private("user." + this.c_user.id).listen("AcceptedChallenge", e => {
    //     alert(
    //       "Generada partida " +
    //         e.gameId +
    //         "\nIdioma: " +
    //         e.lang +
    //         "\nOponente\n\tid: " +
    //         e.oppoId +
    //         "\n\tNombre: " +
    //         e.oppoName +
    //         "\n\tPaís: " +
    //         e.oppoCountry +
    //         "\n\tAvatar: " +
    //         e.oppoAvatar
    //     );

    //     this.requestChallengeId = e.gameId;

    //     console.log("Recibido");
    //   });
    // }
  },
  created() {
    this.c_user = this.user;
    this.c_statistics = this.statistics;
    this.initialStatistics();
    this.mandarDatos();
    // this.listenForBroadcast();
  },
  mounted() {
    console.log("EstadisticasUsuarioComponent montado.");
  }
};
</script>
