<template>
  <div class="foot">
    <ul>
      <li>
        <a href="https://www.facebook.com" target="_blanc">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span class="fab fa-facebook" aria-hidden="true"></span>
        </a>
      </li>
      <li>
        <a href="http://twitter.es" target="_blanc">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span class="fab fa-twitter" aria-hidden="true"></span>
        </a>
      </li>
      <li>
        <a href="https://www.plus.google.com" target="_blanc">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span class="fab fa-google-plus" aria-hidden="true"></span>
        </a>
      </li>
      <li>
        <a href="https://www.linkedin.es" target="_blanc">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span class="fab fa-linkedin" aria-hidden="true"></span>
        </a>
      </li>
      <li>
        <a href="https://www.instagram.com" target="_blanc">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span class="fab fa-instagram" aria-hidden="true"></span>
        </a>
      </li>
    </ul>
  </div>
</template>

<style lang="scss" scoped>
.foot {
  display: flex;
  justify-content: center;
  align-items: center;

  ul {
    position: relative;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
  }
  ul li {
    position: relative;
    list-style: none;
    width: 60px;
    height: 60px;
    margin: 10px 30px;
    transform: rotate(-30deg) skew(25deg);
    background: rgba(16, 16, 16, 0.7);
    @media screen and (max-width: 866px) {
      width: 40px;
      height: 40px;
    }
    @media screen and (max-width: 530px) {
      width: 29px;
      height: 29px;
    }
  }
  ul li span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(16, 16, 16, 0.7);
    transition: 0.5s;
    display: flex !important;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 30px !important;
    @media screen and (max-width: 530px) {
      font-size: 20px !important;
    }
  }
  ul li:hover span {
    box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.1);
  }
  ul li:hover span:nth-child(5) {
    transform: translate(40px, -40px);
    opacity: 1;
  }
  ul li:hover span:nth-child(4) {
    transform: translate(30px, -30px);
    opacity: 0.8;
  }
  ul li:hover span:nth-child(3) {
    transform: translate(20px, -20px);
    opacity: 0.6;
  }
  ul li:hover span:nth-child(2) {
    transform: translate(10px, -10px);
    opacity: 0.4;
  }
  ul li:hover span:nth-child(1) {
    transform: translate(0, 0);
    opacity: 0.2;
  }
  ul li:nth-child(1) span {
    background: #3b5999;
  }
  ul li:nth-child(2) span {
    background: #55acee;
  }
  ul li:nth-child(3) span {
    background: #dd4b39;
  }
  ul li:nth-child(4) span {
    background: #0077b5;
  }
  ul li:nth-child(5) span {
    background: #e4405f;
  }
}
</style>
