<template>
  <div class="game_zone_container">
    <div class="table_zone">
      <!-- <div class="ref_files" v-for="(x) in 16" :key="x">
        <span v-if="x==1 ? ref='' : ref=x">{{ ref - 1 }}</span>
      </div>-->
      <table>
        <tr class="table_files">
          <th class="ref"></th>
          <th class="ref" v-for="index in 15" :key="index">{{ index }}</th>
        </tr>
        <tr class="table_files" v-for="indexY in 15" :key="indexY" :id="'fila'+indexY">
          <th class="ref">{{ String.fromCharCode(64 + indexY) }}</th>
          <td
            v-for="indexX in 15"
            :key="indexX"
            :id="'fila'+indexY+'C'+indexX"
            class="table_columns"
          >
            <drop
              class="drop"
              @drop="onDrop"
              :class="getLetter(game.tableboard.charAt((indexY-1)*15 + (indexX-1))) != ' ' ? 'tile_drop' : ''"
              :id="'fila'+indexY+'C'+indexX+'drop'"
            >
              <span
                id="letra"
                v-if="getLetter(game.tableboard.charAt((indexY-1)*15 + (indexX-1))) == ' '"
              >{{ c_tile }}</span>
              <span
                id="valor"
                v-if="getLetter(game.tableboard.charAt((indexY-1)*15 + (indexX-1))) == ' '"
              >{{ c_valor }}</span>
              {{ getLetter(game.tableboard.charAt((indexY-1)*15 + (indexX-1))) }}
            </drop>
          </td>
        </tr>
      </table>
      <!-- <div class="table_files" v-for="x in 16" :key="x" :id="'fila'+x">
        <div class="table_columns" v-for="y in 16" :key="y" :id="'fila'+x+'C'+y">
          <div class="ref" v-if="x==1">
            <span v-if="((x==1 && y==1) && (y==1)) ? ref='' : ref=y">{{ ref_letters[ref - 2] }}</span>
          </div>
          <div class="ref" v-if="y==1">
            <span v-if="((x==1 && y==1) && (y==1)) ? ref='' : ref=x">{{ ref - 1 }}</span>
          </div>
        </div>
      </div>-->
    </div>
    <div class="players_zone">
      <div class="player1_info" :class="c_game.state == 'turn_p1' ? 'turno' : ''">
        <div v-if="c_user.avatar" class="img_container">
          <img :src="c_user.avatar" class="image">
        </div>
        <div v-else class="image"></div>
        <div class="info">
          <span class="dato">Jugador 1:</span>
          <span class="valor" v-if="c_user.player == 'P1'">{{ c_user.name }}</span>
          <span class="valor" v-else>{{ c_opponent.name }}</span>
        </div>
        <div class="info">
          <span class="dato">País:</span>
          <span
            class="valor"
            v-if="c_user.player == 'P1'"
          >{{ c_user.country=="ES" ? "ESP" : "ENG" }}</span>
          <span class="valor" v-else>{{ c_opponent.country=="ES" ? "ESP" : "ENG" }} }}</span>
        </div>
        <div class="info">
          <span class="dato">Puntos:</span>
          <span class="valor" v-if="c_user.player == 'P1'">{{ c_user.score }}</span>
          <span class="valor" v-else>{{ c_opponent.score }}</span>
        </div>
      </div>
      <div class="player2_info" :class="c_game.state == 'turn_p2' ? 'turno' : ''">
        <div v-if="c_opponent.avatar" class="img_container">
          <img :src="c_opponent.avatar" class="image">
        </div>
        <div v-else class="image"></div>
        <div class="info">
          <span class="dato">Jugador 2:</span>
          <span class="valor" v-if="c_opponent.player == 'P2'">{{ c_opponent.name }}</span>
          <span class="valor" v-else>{{ c_user.name }}</span>
        </div>
        <div class="info">
          <span class="dato">País:</span>
          <span
            class="valor"
            v-if="c_opponent.player == 'P2'"
          >{{ c_opponent.country=="ES" ? "ESP" : "ENG" }}</span>
          <span class="valor" v-else>{{ c_user.country=="ES" ? "ESP" : "ENG" }} }}</span>
        </div>
        <div class="info">
          <span class="dato">Puntos:</span>
          <span class="valor" v-if="c_opponent.player == 'P2'">{{ c_opponent.score }}</span>
          <span class="valor" v-else>{{ c_user.score }}</span>
        </div>
      </div>
      <div class="player_tiles">
        <drag
          :id="'token_'+token.id"
          class="tile"
          v-for="token in c_tokens"
          :key="token.id"
          :tileId="token.id"
          :transfer-data="{letra:token.letter,valor:token.value}"
        >
          <label>
            <input
              type="checkbox"
              name="returned-letter"
              :value="token.id + getCode(token.letter)"
              v-model="tokensReturn"
            >
            <i>
              <span class="letter">{{ token.letter }}</span>
              <span class="points">{{ token.value }}</span>
            </i>
          </label>
        </drag>
        <div id="return-letter">
          <span id="send" class="btn_tile" @click="sendWord" style="width: 200px;">
            <span class="tile">E</span>
            <span class="tile">n</span>
            <span class="tile">v</span>
            <span class="tile">i</span>
            <span class="tile">a</span>
            <span class="tile">r</span>
          </span>
          <span id="return" class="btn_tile" @click="returnTokens" style="width: 293.3px;">
            <span class="tile">D</span>
            <span class="tile">e</span>
            <span class="tile">v</span>
            <span class="tile">o</span>
            <span class="tile">l</span>
            <span class="tile">v</span>
            <span class="tile">e</span>
            <span class="tile">r</span>
          </span>
          <span id="reset" class="btn_tile" onclick="location.reload()" style="width: 150px;">
            <span class="tile">R</span>
            <span class="tile">e</span>
            <span class="tile">s</span>
            <span class="tile">e</span>
            <span class="tile">t</span>
          </span>
        </div>
      </div>
    </div>
    <div class="actions_zone">
      <!-- <div id="return-letter">
        <ul>
          <li :id="'tile'+tile.id" v-for="tile in tiles" :key="tile.id">
            <label>
              <input
                type="checkbox"
                name="returned-letter"
                :value="tile.id + getCode(tile.letter)"
                v-model="tilesReturn"
              >
              <i>
                <span class="letter">{{ tile.letter }}</span>
                <span class="points">{{ tile.value }}</span>
              </i>
              <span class="check"></span>
            </label>
          </li>
        </ul>
        <br>
        <span class="btn_tile" @click="returnTiles" style="width: 293.3px;">
          <span class="tile">D</span>
          <span class="tile">e</span>
          <span class="tile">v</span>
          <span class="tile">o</span>
          <span class="tile">l</span>
          <span class="tile">v</span>
          <span class="tile">e</span>
          <span class="tile">r</span>
        </span>
      </div>-->
      <div class="btns_acciones">
        <span id="spend" class="btn_tile" @click="passTurn" style="width: 183.3px;">
          <span class="tile">P</span>
          <span class="tile">a</span>
          <span class="tile">s</span>
          <span class="tile">a</span>
          <span class="tile">r</span>
        </span>
        <span id="giveup" class="btn_tile" @click="userAbandon" style="width: 330px;">
          <span class="tile">A</span>
          <span class="tile">b</span>
          <span class="tile">a</span>
          <span class="tile">n</span>
          <span class="tile">d</span>
          <span class="tile">o</span>
          <span class="tile">n</span>
          <span class="tile">a</span>
          <span class="tile">r</span>
        </span>
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
@import "../../sass/variables_david";
.game_zone_container {
  grid-area: game_zone;
  display: grid;
  grid-template-columns: repeat(2, minmax(365px, 1fr));
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "table_ players"
    "table_ actions";
  grid-gap: $gap $gap;
  justify-content: center;
  align-items: center;
  div {
    width: 100%;
    //min-width: 365px;
  }
  @media screen and (max-width: 1240px) {
    width: 100%;
    justify-content: center;
    align-items: start;
    grid-template-columns: 100%;
    grid-template-rows: 56vh 56vh 90px;
    grid-template-areas: "table_" "players" "actions";
  }
}
.table_zone {
  grid-area: table_;
  display: flex;
  max-width: 615px;
  min-width: 375px;
  //width: 100%;
  // max-height: 615px;
  // min-height: 375px;
  height: auto;
  justify-content: center;
  align-items: start;
  grid-template-rows: repeat(16, 1fr);
  .table_files {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    max-width: 615px;
    width: 615px;
    table {
      width: 100%;
      height: 100%;
    }
    @media screen and (max-width: 665px) {
      width: 100%;
    }
    .table_columns {
      border: 2px inset $color_borde_scrabble;
    }
  }
  .ref {
    display: flex;
    justify-content: center;
    align-content: center;
    background: $verde_scrabble;
    position: relative;
    font: {
      family: $font-family;
      size: $font-size-1;
      weight: bold;
    }
    color: #fff;
  }
  .table_columns {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    background: $verde_claro_scrabble;
    // &::before {
    //   content: "";
    //   top: 0;
    //   left: 0;
    //   width: 100%;
    //   height: 100%;
    //   background: $verde_claro_scrabble;
    // }

    #fila1C4,
    #fila1C12,
    #fila3C7,
    #fila3C9,
    #fila4C1,
    #fila4C8,
    #fila4C15,
    #fila7C3,
    #fila7C7,
    #fila7C9,
    #fila7C13,
    #fila8C4,
    #fila8C12,
    #fila9C3,
    #fila9C7,
    #fila9C9,
    #fila9C13,
    #fila12C1,
    #fila12C15,
    #fila13C7,
    #fila13C9,
    #fila15C4,
    #fila15C12 {
      background: $double_letter;
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform: rotate(45deg);
        background: $double_letter;
      }
      &::after {
        content: "x2-L";
        font: {
          family: $font-family;
          size: $font-size-4 !important;
          weight: bold;
        }
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 1px outset #fff;
      }
    }
    .triple_letter {
      background: $triple_letter;
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform: rotate(45deg);
        background: $triple_letter;
      }
      &::after {
        content: "x3-L";
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 1px outset #fff;
        font: {
          family: $font-family;
          size: $font-size-4 !important;
          weight: bold;
        }
      }
    }
    .double_word {
      background: $double_word;
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform: rotate(45deg);
        background: $double_word;
      }
      &::after {
        content: "x2-W";
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 1px outset #fff;
        font: {
          family: $font-family;
          size: $font-size-4 !important;
          weight: bold;
        }
      }
    }
    .triple_word {
      background: $triple_word;
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform: rotate(45deg);
        background: $triple_word;
      }
      &::after {
        content: "x3-L";
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 1px outset #fff;
        font: {
          family: $font-family;
          size: $font-size-4 !important;
          weight: bold;
        }
      }
    }
  }
}

#fila1C4,
#fila1C12,
#fila3C7,
#fila3C9,
#fila4C1,
#fila4C8,
#fila4C15,
#fila7C3,
#fila7C7,
#fila7C9,
#fila7C13,
#fila8C4,
#fila8C12,
#fila9C3,
#fila9C7,
#fila9C9,
#fila9C13,
#fila12C1,
#fila12C15,
#fila13C7,
#fila13C9,
#fila15C4,
#fila15C12 {
  background: $double_letter;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: rotate(45deg);
    background: $double_letter;
  }
  &::after {
    content: "x2-L";
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px outset #fff;
    font: {
      family: $font-family;
      size: $font-size-4;
      weight: bold;
    }
  }
}
#fila2C6,
#fila2C10,
#fila6C2,
#fila6C6,
#fila6C10,
#fila6C14,
#fila10C2,
#fila10C6,
#fila10C10,
#fila10C14,
#fila14C6,
#fila14C10 {
  background: $triple_letter;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: rotate(45deg);
    background: $triple_letter;
  }
  &::after {
    content: "x3-L";
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px outset #fff;
    font: {
      family: $font-family;
      size: $font-size-4;
      weight: bold;
    }
  }
}

#fila2C2,
#fila2C14,
#fila3C3,
#fila3C13,
#fila4C4,
#fila4C12,
#fila5C5,
#fila5C11,
#fila8C8,
#fila11C5,
#fila11C11,
#fila12C4,
#fila12C12,
#fila13C3,
#fila13C13,
#fila14C2,
#fila14C14,
.double_word {
  background: $double_word;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: rotate(45deg);
    background: $double_word;
  }
  &::after {
    content: "x2-W";
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px outset #fff;
    font: {
      family: $font-family;
      size: $font-size-4;
      weight: bold;
    }
  }
}
#fila1C1,
#fila1C8,
#fila1C15,
#fila8C1,
#fila8C15,
#fila15C1,
#fila15C8,
#fila15C15 {
  background: $triple_word;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: rotate(45deg);
    background: $triple_word;
  }
  &::after {
    content: "x3-L";
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px outset #fff;
    font: {
      family: $font-family;
      size: $font-size-4;
      weight: bold;
    }
  }
}
.drop {
  width: 100%;
  height: 100%;
  z-index: 400;
}
.players_zone {
  grid-area: players;
  display: grid;
  grid-template-rows: 140px 140px 140px;
  grid-template-areas: "player1" "player2" "tiles";
  grid-row-gap: $gap;
  justify-content: flex-start;
  align-items: center;
  @media screen and (max-width: 1240px) {
    grid-template-rows: 140px 140px 140px;
    grid-template-areas: "tiles" "player1" "player2";
    justify-content: center;
    align-items: start;
    width: 100%;
  }

  .player1_info,
  .player2_info {
    display: grid;
    grid-template-rows: repeat(3, 40px);
    grid-template-columns: 150px 1fr;
    grid-template-areas: "avatar info" "avatar info1" "avatar info2";
    grid-column-gap: $gap;
    justify-content: flex-start;
    margin: 12px 0;

    > div:nth-child(1) {
      grid-area: avatar;
    }
    > div:nth-child(2) {
      grid-area: info;
    }
    > div:nth-child(3) {
      grid-area: info1;
    }
    > div:nth-child(4) {
      grid-area: info2;
    }
    .player1_info {
      grid-area: player1;
    }
    .player2_info {
      grid-area: player2;
    }
    .player_tiles {
      grid-area: tiles;
    }

    .img_container {
      width: 100%;
      height: 100%;
      background: $gris_opacidad_baja;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .image {
      width: 120px;
      height: 120px;
      background: $gris_opacidad_baja;
    }
    .info {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding-left: $gap;
      font: {
        family: $font-family;
        size: $font-size-1;
      }
      .dato {
        font-weight: bold;
      }
      .valor {
        font: {
          size: $font-size-2;
          weight: 500;
        }
        margin-left: 5px;
      }
    }
  }
  .player1_info {
    grid-area: player1;
  }
  .player2_info {
    grid-area: player2;
  }
  .turno {
    border: 2px solid $verde_scrabble;
    box-shadow: 6px 6px 50px 8px $verde_scrabble;
  }
}
.player_tiles {
  grid-area: tiles;
  display: grid;
  grid-template-columns: repeat(7, 50px);
  justify-content: center;
  align-items: center;
  grid-template-areas: "tile_0 tile_1 tile_2 tile_3 tile_4 tile_5 tile_6";
  height: 50px;
  div:nth-child(1) {
    grid-area: tile_0;
  }
  div:nth-child(2) {
    grid-area: tile_1;
  }
  div:nth-child(3) {
    grid-area: tile_2;
  }
  div:nth-child(4) {
    grid-area: tile_3;
  }
  div:nth-child(5) {
    grid-area: tile_4;
  }
  div:nth-child(6) {
    grid-area: tile_5;
  }
  div:nth-child(6) {
    grid-area: tile_6;
  }
  @media screen and (max-width: 1240px) {
    align-items: center;
  }
}
.btn_tile,
.tile {
  &:hover {
    transition: 0.5s;
    color: rgba(0, 176, 255, 1);
  }
}
.btn_tile {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border: 1px outset $borde_textura_madera;
  border-radius: $radius-5;
  background: $borde_textura_madera;
  cursor: pointer;
  margin: 5px;
}
.tile,
.tile_drop {
  position: relative;
  z-index: 2000;
  // list-style: none;
  //width: 50px;
  text-align: center;
  label {
    position: relative;
    i,
    input[type="checkbox"] {
      display: block;
      text-align: center;
    }
    i {
      position: relative;
      font-size: $font-size-3;
      color: #222;
      cursor: pointer;
      transition: 0.5s;
      > span:nth-child(1) {
        position: absolute;
        top: -10px;
        left: -8px;
        // right: auto;
        // bottom: auto;
      }
      > span:nth-child(2) {
        position: absolute;
        top: 3px;
        left: 8px;
        font: {
          family: $font-family;
          size: $font-size-5;
        }
      }
    }
    input[type="checkbox"] {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      &:checked ~ .check:before {
        background: rgba(0, 176, 255, 1);
        box-shadow: 0 0 10px rgba(0, 176, 255, 1), 0 0 15px rgba(0, 176, 255, 1),
          0 0 20px rgba(0, 176, 255, 1), 0 0 25px rgba(0, 176, 255, 1),
          0 0 2px rgba(0, 176, 255, 0.1);
      }
      &:checked ~ i {
        color: rgba(0, 176, 255, 1);
      }
    }
  }
  max-width: 36.5px;
  max-height: 36.5px;
  width: 100%;
  background: url("/../img/TexturesCom_WoodFine0009_seamless_S.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid $borde_textura_madera;
  border-radius: $radius-5;
  font: {
    family: $font-family;
    size: $font-size-2;
  }
  > span:nth-child(1) {
    position: absolute;
    top: auto;
    left: auto;
    right: auto;
    bottom: auto;
  }
  > span:nth-child(2) {
    position: absolute;
    top: 21px;
    left: 23px;
    font: {
      family: $font-family;
      size: $font-size-5;
    }
  }
}
.tile_drop {
  > span:nth-child(1) {
    position: absolute;
    top: 0px;
    left: 10px;
  }
  > span:nth-child(2) {
    position: absolute;
    top: 13px;
    left: 23px;
    font: {
      family: $font-family;
      size: $font-size-5;
    }
  }
}
.actions_zone {
  grid-area: actions;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  justify-items: flex-start;
  align-items: flex-start;

  #return-letter {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    //justify-content: center;
    //align-items: flex-start;
    width: 350px;
    height: 150px;
    background: url("/../img/TexturesCom_WoodFine0009_seamless_S.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: $radius-10;

    ul {
      position: relative;
      margin: 0;
      padding: 0;
      display: flex;
      flex-wrap: wrap;
      li {
        position: relative;
        list-style: none;
        width: 50px;
        text-align: center;
        label {
          position: relative;
          i,
          input[type="checkbox"] {
            display: block;
            text-align: center;
          }
          i {
            font-size: $font-size-3;
            color: #222;
            cursor: pointer;
            transition: 0.5s;
          }
          input[type="checkbox"] {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            &:checked ~ .check:before {
              background: rgba(0, 176, 255, 1);
              box-shadow: 0 0 10px rgba(0, 176, 255, 1),
                0 0 15px rgba(0, 176, 255, 1), 0 0 20px rgba(0, 176, 255, 1),
                0 0 25px rgba(0, 176, 255, 1), 0 0 2px rgba(0, 176, 255, 0.1);
            }
            &:checked ~ i {
              color: rgba(0, 176, 255, 1);
            }
          }
          .check {
            position: relative;
            display: block;
            cursor: pointer;
            width: 40px;
            height: 40px;
            background: linear-gradient(#000, #333);
            border-radius: 50%;
            margin: 10px auto 0;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 1;
            &::before {
              content: "";
              position: absolute;
              width: 8px;
              height: 8px;
              border-radius: 50px;
              background: #fff;
              transition: 0.5s;
              z-index: 3;
            }
            &::after {
              content: "";
              position: absolute;
              top: 6px;
              left: 6px;
              right: 6px;
              bottom: 6px;
              border-radius: 50px;
              background: #222;
              transition: 0.5s;
              z-index: 2;
              border: 2px solid #161616;
            }
          }
        }
      }
    }
  }
  @media screen and (max-width: 1240px) {
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}
.btns_acciones {
  display: flex;
  flex-direction: column;
  @media screen and (max-width: 1240px) {
    justify-content: center;
    align-items: center;
  }
}
</style>

<script>
import { ScrabbleHelper } from "../scrabble_helper_library.js";
import { Drag, Drop } from "vue-drag-drop";
export default {
  name: "game-zone-component",
  props: ["user", "game", "opponent"],
  components: {
    drag: Drag,
    drop: Drop
  },
  data() {
    return {
      c_game: null,
      c_user: null,
      c_opponent: null,
      ref: null,
      tokens: [],
      c_tokens: [],
      rowpos: null,
      colpos: null,
      direction: null,
      word: "",
      tokensReturn: [],
      c_tile: null,
      c_valor: null,
      isTrusted: null,
      c_strArray: [],
      c_posRows: [],
      c_posColumns: [],
      c_isHorizontal: false,
      c_isVertical: false,
      ref_letters: [
        "A",
        "B",
        "C",
        "D",
        "E",
        "F",
        "G",
        "H",
        "I",
        "J",
        "K",
        "L",
        "M",
        "N",
        "O"
      ],
      special_cells: [
        { id: "fila2C2", type: " triple_word" },
        { id: "fila2C5", type: " double_letter" },
        { id: "fila2C9", type: " triple_word" },
        { id: "fila2C13", type: " double_letter" },
        { id: "fila2C16", type: " triple_word" },
        { id: "fila3C3", type: " double_word" },
        { id: "fila3C7", type: " triple_letter" },
        { id: "fila3C11", type: " triple_letter" },
        { id: "fila3C15", type: " double_word" },
        { id: "fila4C4", type: " double_word" },
        { id: "fila4C8", type: " double_letter" },
        { id: "fila4C10", type: " double_letter" },
        { id: "fila4C14", type: " double_word" },
        { id: "fila5C2", type: " double_letter" },
        { id: "fila5C5", type: " double_word" },
        { id: "fila5C9", type: " double_letter" },
        { id: "fila5C13", type: " double_word" },
        { id: "fila5C16", type: " double_letter" },
        { id: "fila6C6", type: " double_word" },
        { id: "fila6C12", type: " double_word" },
        { id: "fila7C3", type: " triple_letter" },
        { id: "fila7C7", type: " triple_letter" },
        { id: "fila7C11", type: " triple_letter" },
        { id: "fila7C15", type: " triple_letter" },
        { id: "fila8C4", type: " double_letter" },
        { id: "fila8C8", type: " double_letter" },
        { id: "fila8C10", type: " double_letter" },
        { id: "fila8C14", type: " double_letter" },
        { id: "fila9C2", type: " triple_word" },
        { id: "fila9C5", type: " double_letter" },
        { id: "fila9C9", type: " double_word" },
        { id: "fila9C13", type: " double_letter" },
        { id: "fila9C16", type: " triple_word" },
        { id: "fila10C4", type: " double_letter" },
        { id: "fila10C8", type: " double_letter" },
        { id: "fila10C10", type: " double_letter" },
        { id: "fila10C14", type: " double_letter" },
        { id: "fila11C3", type: " triple_letter" },
        { id: "fila11C7", type: " triple_letter" },
        { id: "fila11C11", type: " triple_letter" },
        { id: "fila11C15", type: " triple_letter" },
        { id: "fila12C6", type: " double_word" },
        { id: "fila12C12", type: " double_word" },
        { id: "fila13C2", type: " double_letter" },
        { id: "fila13C5", type: " double_word" },
        { id: "fila13C9", type: " double_letter" },
        { id: "fila13C13", type: " double_word" },
        { id: "fila13C16", type: " double_letter" },
        { id: "fila14C4", type: " double_word" },
        { id: "fila14C8", type: " double_letter" },
        { id: "fila14C10", type: " double_letter" },
        { id: "fila14C14", type: " double_word" },
        { id: "fila15C3", type: " double_word" },
        { id: "fila15C7", type: " triple_letter" },
        { id: "fila15C11", type: " triple_letter" },
        { id: "fila15C15", type: " double_word" },
        { id: "fila16C2", type: " triple_word" },
        { id: "fila16C5", type: " double_letter" },
        { id: "fila16C9", type: " triple_word" },
        { id: "fila16C13", type: " double_letter" },
        { id: "fila16C16", type: " triple_word" }
      ]
    };
  },
  computed: {
    isTurn: function() {
      return (
        (this.c_user.player == "P1" && this.c_game.state == "turn_p1") ||
        (this.c_user.player == "P2" && this.c_game.state == "turn_p2")
      );
    }
  },
  methods: {
    // applyStyles: function() {
    //   this.special_cells.forEach(element => {
    //     console.log(element.id);
    //     document.getElementById(element.id).className += element.class;
    //   });
    //   console.log("terminado foreach");
    // },
    getLetter: function(d) {
      return ScrabbleHelper.getLetter(this.c_game.language, d);
    },
    getCode: function(d) {
      return ScrabbleHelper.getCode(this.c_game.language, d);
    },
    fillTokens: function(tokens) {
      this.tokens.length = 0;

      // añado el id
      for (var n = 0; n < tokens.length; n++) {
        var newToken = {
          id: this.tokens.length + n,
          value: tokens[n].value,
          letter: this.getLetter(tokens[n].letter)
        };

        this.tokens.push(newToken);
      }
      this.c_tokens = this.tokens;
    },
    returnTokens: function() {
      var vm = this;
      var route = "/scrabble/game/" + this.c_game.id + "/user/return";

      var tmpTokens = [];

      for (var i = 0; i < this.tokensReturn.length; i++) {
        tmpTokens.push(this.tokensReturn[i].slice(-1));
      }

      return axios
        .post(route, {
          tokens: tmpTokens
        })
        .then(function(response) {
          console.log("Respuesta piezas devueltas: ", response.data);
          vm.c_title = "Notificación de Juego";
          vm.c_message = "Piezas devueltas.";
          Push.create(vm.c_title, {
            body: vm.c_message,
            icon: "/img/notify_attention.png",
            timeout: 10000,
            onClick: function() {
              this.window.close();
            }
          });
          // pongo las nuevas letras en pantalla
          vm.fillTokens(response.data.tokens);

          // actualizo el estado
          vm.c_game.state = response.data.state;

          vm.tokensReturn.length = 0;
        })
        .catch(function(error) {
          vm.c_title = "Notificación de Error";
          vm.c_message =
            "ERROR: " +
            error.response.status +
            ". " +
            error.response.statusText +
            ". " +
            error.response.data;
          Push.create(vm.c_title, {
            body: vm.c_message,
            icon: "/img/notify_error.png",
            timeout: 10000
          });
          console.log(
            "ERROR: " +
              error.response.status +
              ". " +
              error.response.statusText +
              ". " +
              error.response.data
          );
        });
    },
    passTurn: function() {
      var vm = this;
      var route = "/scrabble/game/" + this.c_game.id + "/user/pass";
      return axios
        .post(route)
        .then(function(response) {
          console.log("Respuesta pasar turno: ", response);
          // actualizo el estado
          vm.c_game.state = response.data.state;
        })
        .catch(function(error) {
          vm.c_title = "Notificación de Error";
          vm.c_message =
            "ERROR: " +
            error.response.status +
            ". " +
            error.response.statusText +
            ". " +
            error.response.data;
          Push.create(vm.c_title, {
            body: vm.c_message,
            icon: "/img/notify_error.png",
            timeout: 10000
          });
          console.log(
            "ERROR: " +
              error.response.status +
              ". " +
              error.response.statusText +
              ". " +
              error.response.data
          );
        });
    },
    userAbandon: function() {
      var vm = this;
      var route = "/scrabble/game/" + this.c_game.id + "/giveup";
      return axios
        .post(route)
        .then(function(response) {
          console.log("Partida abandonanda");
          // actualizo el estado
          vm.c_game.state = response.data.state;
        })
        .catch(function(error) {
          vm.c_title = "Notificación de Error";
          vm.c_message =
            "ERROR: " +
            error.response.status +
            ". " +
            error.response.statusText +
            ". " +
            error.response.data;
          Push.create(vm.c_title, {
            body: vm.c_message,
            icon: "/img/notify_error.png",
            timeout: 10000
          });
          console.log(
            "ERROR: " +
              error.response.status +
              ". " +
              error.response.statusText +
              ". " +
              error.response.data
          );
        });
    },
    sendWord: function() {
      var vm = this;
      // envio la palabra
      // el JSON de ejemplo incuye todos los posibles datos a modificar
      // podría sólo indicarse uno
      var route = "/scrabble/game/" + this.c_game.id + "/user/throw";
      return axios
        .post(route, {
          word: vm.word,
          row: vm.rowpos,
          column: vm.colpos,
          direction: vm.direction
        })
        .then(function(response) {
          console.log("Respuesta envio palabra:", response);

          // redibujo el tablero con la nueva palabra
          vm.c_game.tableboard = ScrabbleHelper.updateTableboard(
            vm.c_game.tableboard,
            response.data.icol,
            response.data.irow,
            vm.direction,
            response.data.rword
          );

          // pongo las nuevas letras en pantalla
          vm.fillTokens(response.data.tokens);

          // quito letras del saco
          vm.c_game.remaining_tokens -= parseInt(
            response.data.newtokens.length
          );

          // actualizo sus puntos
          vm.c_user.score = response.data.pscore;

          // actualizo el estado
          vm.c_game.state = response.data.state;

          // reiniciamos los valores obtenidos
          this.word = "";
          this.colpos = null;
          this.rowpos = null;
          this.direction = null;

          if (response.data.state == "win") {
            document
              .getElementById("animationWin")
              .classList.remove("setNotVisible");
            vm.c_title = "Partida finalizada";
            vm.c_message = "Has sido el vencedor del reto ¡¡¡Enhorabuena!!! ";
            Push.create(vm.c_title, {
              body: vm.c_message,
              icon: "/img/notify_win.png",
              timeout: 15000,
              onClick: function() {
                document
                  .getElementById("animationWin")
                  .classList.add("setNotVisible");
              }
            });
            setTimeout(function() {
              document
                .getElementById("animationWin")
                .classList.add("setNotVisible");
            }, 15000);
          }
        })
        .catch(function(error) {
          vm.c_title = "Notificación de Error";
          vm.c_message =
            "ERROR: " +
            error.response.status +
            ". " +
            error.response.statusText +
            ". " +
            error.response.data;
          Push.create(vm.c_title, {
            body: vm.c_message,
            icon: "/img/notify_error.png",
            timeout: 10000
          });
          console.log(
            "ERROR: " +
              error.response.status +
              ". " +
              error.response.statusText +
              ". " +
              JSON.stringify(error.response.data)
          );
        });
    },

    // función que se ejecuta al realizar un drop en cualquiera de las celdas del tablero
    // genera la palabra las posiciones de la fila y columna y la dirección de la palabra
    onDrop: function(data, evt) {
      if (this.isTurn) {
        var tmp_rowpos = null;
        var tmp_colpos = null;
        // obtenemos el id de la celda de destino de la ficha
        var attrId = evt.target.attributes.id.nodeValue;
        // añadimos la clase css que pinta la ficha en el tablero
        document.getElementById(attrId).className += " tile_drop";
        // escribimos los valores de la ficha en la celda
        document.getElementById(
          evt.target.attributes.id.nodeValue
        ).firstChild.innerText = data.letra;
        document.getElementById(
          evt.target.attributes.id.nodeValue
        ).lastChild.innerText = data.valor;

        // obtenemos los valores fila y columna de la celda
        this.c_strArray.push(data.letra);
        this.word = this.c_strArray.join("");
        tmp_rowpos = String.fromCharCode(
          64 + parseInt(attrId.substring(4, attrId.indexOf("C")))
        );
        console.log("fila " + tmp_rowpos);
        tmp_colpos = attrId.substring(
          attrId.indexOf("C") + 1,
          attrId.indexOf("drop")
        );
        this.c_posRows.push(tmp_rowpos);
        this.c_posColumns.push(tmp_colpos);
        // obtenemos la direccionalidad de la palabra
        if (
          // aplicamos filtro en el array que elimina repetidos. si es H solo quedará un elemento en el array de filas
          this.c_posRows.filter((v, i, a) => a.indexOf(v) === i).length == 1
        ) {
          this.direction = "H";
        } else if (
          // aplicamos filtro en el que elimina repetidos. si es V solo quedará un elemento en el array de columnas
          this.c_posColumns.filter((v, i, a) => a.indexOf(v) === i).length == 1
        ) {
          this.direction = "V";
        } else {
          // si los dos filtros dan como resultado un array con más de un elemento, no se puede formar palabra
          // mostramos notificación de error.
          this.c_title = "Notificación de Error";
          this.c_message =
            "ERROR: El lugar donde has colocado la ficha no puede formar tu palabra";
          Push.create(this.c_title, {
            body: this.c_message,
            icon: "/img/notify_error.png",
            timeout: 10000
          });
        }
        // establecemos los valores de fila y columna a la primera posición de los arrays
        this.rowpos = this.c_posRows[0];
        this.colpos = this.c_posColumns[0];
      } else {
        this.c_title = "Notificación de Error";
        this.c_message = "ERROR: Espera tu turno para poder colocar tu palabra";
        Push.create(this.c_title, {
          body: this.c_message,
          icon: "/img/notify_error.png",
          timeout: 10000
        });
      }
    },
    listenForBroadcast: function() {
      console.log(
        "Escuchando canales: game." + this.c_game.id + ".user." + this.c_user.id
      );
      var vm = this;
      Echo.private("game." + vm.c_game.id + ".user." + vm.c_user.id)
        .listen("OpponentThrow", e => {
          vm.c_game.state = e.state;
          if (e.playerState == "pass") {
            vm.c_title = "Notificación de partida";
            vm.c_message = "El oponente a pasado turno ¡¡¡Te toca!!!";
            Push.create(vm.c_title, {
              body: vm.c_message,
              icon: "/img/notify_attention.png",
              timeout: 10000
            });
          } else if (e.playerState == "win") {
            vm.c_title = "Notificación de partida";
            vm.c_message =
              "El oponente a ganado la partida.\nLo siento, has perdido.";
            Push.create(vm.c_title, {
              body: vm.c_message,
              icon: "/img/notify_attention.png",
              timeout: 10000
            });
          } else if (e.playerState == "return") {
            vm.c_title = "Notificación de partida";
            vm.c_message = "El oponente ha devuelto fichas ¡¡¡Te toca!!!";
            Push.create(vm.c_title, {
              body: vm.c_message,
              icon: "/img/notify_attention.png",
              timeout: 10000
            });
          } else {
            vm.c_game.remaining_tokens = e.numberRemainingTokens;
            vm.c_opponent.score = e.playerScore;
            vm.c_game.tableboard = e.tableboard;
            vm.c_title = "Notificación de partida";
            vm.c_message = "El oponente ha realizado la tirada ¡¡¡Te toca!!!";
            Push.create(vm.c_title, {
              body: vm.c_message,
              icon: "/img/notify_attention.png",
              timeout: 10000
            });
          }
        })
        .listen("GiveupGame", e => {
          vm.c_game.state = e.state;
          vm.c_title = "Notificación de partida";
          vm.c_message = "El oponente ha abandonado la partida.";
          Push.create(vm.c_title, {
            body: vm.c_message,
            icon: "/img/notify_attention.png",
            timeout: 10000
          });
        });
    }
  },
  created() {
    this.c_game = this.game;
    this.c_user = this.user;
    this.c_opponent = this.opponent;
    this.listenForBroadcast();
    this.fillTokens(this.c_user.tokens);
  },
  mounted() {
    console.log("Componente game-zone-component montado.");
    //this.applyStyles();
  }
};
</script>