<template>
  <ul class="navbar-nav ml-auto">
    <li class="nav-item mr-2">
      <a class="nav-link" id="linkGutenberg" href="/">Gutenberg</a>
    </li>
    <li class="nav-item mr-2" v-if="gutenberg">
      <a class="nav-link" id="linkTrabajos" href="#trabajosImprenta">Trabajos imprenta</a>
    </li>
    <li class="nav-item mr-2" v-if="gutenberg">
      <a class="nav-link" id="linkDifusion" href="#difusionImprenta">Difusión Imprenta</a>
    </li>
    <li class="nav-item mr-2" v-if="gutenberg">
      <a class="nav-link" id="linkLibros" href="#primerosLibros">Primeros libros</a>
    </li>
    <li class="nav-item mr-2" v-if="gutenberg">
      <a class="nav-link" id="linkImprentaValencia" href="#imprentaValenciana">Imprenta valenciana</a>
    </li>
    <li class="nav-item mr-2">
      <a class="nav-link" id="linkScrabble" href="/scrabble">Scrabble. Info</a>
    </li>
    <li class="nav-item mr-2" v-if="!login">
      <a class="nav-link" id="linkLogin" href="/scrabble/login">
        <i class="fas fa-user-circle"></i> Login
      </a>
    </li>
    <li class="nav-item mr-2" v-if="!login">
      <a class="nav-link" id="linkRegistro" href="/scrabble/register">
        <i class="fas fa-address-card"></i> Registro
      </a>
    </li>
    <li class="nav-item mr-2" v-if="login">
      <a class="nav-link" id="linkRegistro" href="/scrabble/dashboard">
        <i class="fas fa-tachometer-alt"></i>
        Dashboard
      </a>
    </li>
    <li class="nav-item mr-2" v-if="login">
      <a
        href="#"
        class="nav-link"
        id="linkLogout"
        onclick="event.preventDefault(); document.getElementById('logout-form').submit();"
      >
        <i class="fas fa-sign-out-alt"></i> Logout
      </a>
    </li>
  </ul>
  <!-- onclick="event.preventDefault(); document.getElementById('logout-form').submit();" -->
</template>

<style lang="scss" scoped>
li {
  display: inline;
  color: rgba(12, 11, 6, 0.85);
  font-weight: bold;
  font-size: 16px;
  &:hover {
    color: rgba(48, 46, 38, 0.85);
    font-weight: bold;
    font-size: 16px;
    text-shadow: 0 20px 40px rgba(247, 245, 245, 0.6);
  }
}
</style>

<script>
export default {
  name: "login-logout-component",
  data() {
    return {
      // csrf: document
      //   .querySelector('meta[name="csrf-token"]')
      //   .getAttribute("content"),
      gutenberg: this.currentPage(),
      login: false
    };
  },
  created() {
    this.currentPage();
    this.esLogin(); // llamadaa función para comprobar si hay login
    console.log(this.currentPage());
    console.log(this.esLogin());
    console.log("-- " + this.login);
    //  console.log("---" + user.id);
  },
  methods: {
    currentPage: function() {
      var URLactual = window.location.toString(); //obtenemos la url acutal
      console.log("Pagina: " + URLactual.indexOf("gutenberg"));
      if (
        URLactual.indexOf("scrabble") < 0 &&
        URLactual.indexOf("dashboard") < 0 &&
        URLactual.indexOf("login") < 0 &&
        URLactual.indexOf("register") < 0
      ) {
        // si estamos en dashboard
        this.gutenberg = true; // establecemos variable a true
        return this.gutenberg;
      } else {
        return false;
      }
    },
    /**
     * Método que comprueba si se accede al dashboard.
     * Establece la variable Vue login a true
     */
    esLogin: function() {
      var URLactual = window.location.toString(); //obtenemos la url acutal
      console.log(URLactual);
      console.log("Pagina: " + URLactual.indexOf("dashboard"));
      if (URLactual.indexOf("dashboard") >= 0 && !this.login) {
        // si estamos en dashboard
        this.login = true; // establecemos variable a true
      }
    },
    logout: function(event) {
      console.log("entro en logout");
      event.preventDefault();
      document.getElementById("logout-form").submit();
      // axios
      //   .post("logout")
      //   .then(response => {
      //     if (response.status === 302 || 401) {
      //       console.log("logout");
      //     } else {
      //       // throw error and go to catch block
      //     }
      //   })
      //   .catch(error => {
      //     console.log("-----error-----");
      //     console.log(error);
      //   });
    }
  }
};
</script>
