<template>
  <div class="contenedor_modal" v-if="c_window">
    <div class="modal">
      <div class="modal_header">
        <span>{{ c_title }}</span>
        <span @click="c_window=false">
          <i class="far fa-window-close"></i>
        </span>
      </div>
      <div class="modal_content">
        <span>
          {{ c_content }}
          <button
            @click="gotoGame"
            :class="c_partida ? 'visible': 'hidden'"
          >Ir a partida</button>
        </span>

        <div class="acciones">
          <button @click="c_window=false">Aceptar</button>
        </div>
      </div>
    </div>
  </div>
</template>
<style lang="scss" scoped>
@import "../../sass/variables_david";
.contenedor_modal {
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 300;
}
.modal {
  display: block;
  padding: 10px;
  max-width: 500px;
  max-height: 200px;
  margin: 150px auto;
  background: $color-borde-scrabble;
  box-shadow: 0 0 10px black;
}
.modal_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font: {
    family: $font-family;
    size: $font-size-1;
  }
  &:nth-child(1) {
    margin-left: 10px;
  }
  span i {
    background: $triple_word;
    color: $gris_opacidad_baja;
    border-radius: 4px;
  }
}
.modal_content {
  display: grid;
  grid-template-rows: 105px 50px;
  grid-template-areas: "contenido" "acciones";
  span {
    padding: 10px;
    text-align: start;
    font: {
      family: $font-family;
      size: $font-size-3;
    }
  }
}
.acciones {
  display: flex;
  padding: 10px;
  grid-area: acciones;
  justify-content: flex-end;
  align-items: center;
  button {
    padding: 0 4px;
    border-radius: 4px;
    font: {
      family: $font-family;
      size: $font-size-4;
    }
    &:hover {
      font: {
        weight: 800;
      }
    }
  }
}
.visible {
  visibility: visible;
}
.hidden {
  visibility: hidden;
}
</style>
<script>
export default {
  name: "modal-window-component",
  props: ["window", "title", "message", "idg"],
  data() {
    return {
      c_window: null,
      c_title: null,
      c_content: null,
      c_partida: false,
      c_idg: null
    };
  },
  methods: {
    gotoGame: function(event, idg) {
      if (idg === undefined) {
        idg = this.c_idg;
      }
      var url =
        location.protocol +
        "//" +
        location.hostname +
        (location.port ? ":" + location.port : "");
      window.location.href = url + "/scrabble/game/" + idg;
    }
    // listenForBroadcast: function() {
    //   var vm = this;
    //   var argumento;
    //   if (this.c_game) {
    //     argumento = "game." + this.c_game.id + ".user." + this.c_user.id;
    //     console.log(
    //       "Escuchando en Modal canales: user." +
    //         this.c_user.id +
    //         ".game." +
    //         this.c_game.id
    //     );
    //   } else {
    //     argumento = "user." + this.c_user.id;
    //     console.log("Escuchando en Modal canales: user." + this.c_user.id);
    //   }
    //   Echo.private(argumento)
    //     .listen("AcceptedChallenge", e => {
    //       console.log("En modal: Partida generada");
    //       vm.c_title = "Generada partida";
    //       vm.c_content =
    //         "Generada partida " +
    //         e.gameId +
    //         "\nIdioma: " +
    //         e.lang +
    //         "\nOponente\n\tid: " +
    //         e.oppoId +
    //         "\n\tNombre: " +
    //         e.oppoName +
    //         "\n\tPaís: " +
    //         e.oppoCountry;
    //       vm.c_partida = true;
    //       this.requestChallengeId = e.gameId;
    //       vm.c_window = true;
    //     })
    //     .listen("OpponentThrow", e => {
    //       //vm.c_game.state = e.state;
    //       if (e.playerState == "pass") {
    //         console.log("En modal: Pasa turno");
    //         vm.c_title = "El contrincante ha pasado turno.";
    //         vm.c_content = "Te toca. Es la hora de colocar tu palabra.";
    //       } else if (e.playerState == "win") {
    //         vm.c_title = "Fin de la partida";
    //         vm.c_content = "Lo siento, has perdido";
    //       } else if (e.playerState == "return") {
    //         alert("El contrincante ha devuelto fichas");
    //         console.log("El contrincante ha devuelto fichas");
    //       } else {
    //         vm.content = "";
    //         vm.c_title = "Recibida tirada de oponente";
    //         vm.c_content += "Palabra: " + e.word + "\n";
    //         vm.c_content += "Puntuación de palabra: " + e.wordScore + "\n";
    //         vm.c_content += "Puntuación de oponente: " + e.playerScore + "\n";
    //         vm.c_content += "Ahora te toca a ti. ¡¡¡Ánimo!!!";
    //       }
    //       vm.c_window = true;
    //     })
    //     .listen("GiveupGame", e => {
    //       //vm.c_game.state = e.state;
    //       vm.c_title = "Partida finalizada.";
    //       vm.content = "El contrincante ha abandonado el juego";
    //       vm.c_window = true;
    //     });
    // }
  },
  created() {
    this.c_window = this.window;
    this.c_title = this.tittle;
    this.c_content = this.message;
    this.c_idg = this.idg;
    this.c_window = true;
    // this.listenForBroadcast();
  },
  mounted() {
    console.log("Ventana modal montada");
    console.log(this.c_window);
  },
  updated() {
    this.c_window = this.window;
  }
};
</script>
