<template>
  <div class="rankingContainer">
    <div class="tituloH1">
      <span>CLASIFICACIÓN</span>
    </div>
    <div class="ranking">
      <div
        class="rankingES"
        v-if="c_rankingES.map(function(e) {return e.p_level}).indexOf(0) == -1"
      >
        <div class="tituloH2">
          <span>Idioma</span>
          <img
            :src="'../img/espana.png'"
            title="Idioma español."
            alt="Icon made by http://www.freepik.com from http://www.flaticon.com"
          >
        </div>
        <div class="userInfo" v-for="(element, index) of c_rankingES" :key="index">
          <div class="userRanked">
            <img class="avatar" :src="element.p_avatar" alt="Sin avatar">
            <div class="infoUser">
              <span>{{ element.p_name }}</span>
              <span>Nivel {{ element.p_level }}</span>
              <span>Puesto #{{ index + 1 }}</span>
            </div>
          </div>
        </div>
      </div>
      <div
        class="rankingEN"
        v-if="c_rankingEN.map(function(e) {return e.p_level}).indexOf(0) == -1"
      >
        <div class="tituloH2">
          <span>Idioma</span>
          <img
            :src="'../img/reino-unido.png'"
            title="Idioma Inglés."
            alt="Icon made by http://www.freepik.com from http://www.flaticon.com"
          >
        </div>
        <div class="userInfo" v-for="(element, index) of c_rankingEN" :key="index">
          <div class="userRanked">
            <img class="avatar" :src="element.p_avatar" alt="Sin avatar">
            <div class="infoUser">
              <span>{{ element.p_name }}</span>
              <span>Nivel {{ element.p_level }}</span>
              <span>Puesto #{{ index + 1 }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.rankingContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  @media screen and (max-width: 1450px) {
    justify-content: flex-start;
    align-items: center;
  }
}
.ranking {
  display: flex;
  flex-direction: column;
  margin: 5px 10px 5px 5px;
  //justify-content: space-between;
}
.rankingES,
.rankingEN {
  display: flex;
  flex-direction: row;
  margin: 5px 10px 5px 5px;
  justify-content: flex-start;
  @media screen and (max-width: 866px) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.userInfo {
  display: flex;
  flex-direction: row;
  margin: 5px 5px 5px 5px;
  width: 100%;
}
.userRanked {
  display: grid;
  grid-template-columns: 50px 150px;
  grid-template-rows: 50px 50px;
  justify-content: center;
  align-items: center;
  grid-template-areas:
    "img rank"
    "img rank";
}
.tituloH1 {
  font: {
    family: Roboto, sans-serif;
    size: 1.3rem;
    weight: 900;
  }
}
.tituloH2 {
  grid-area: titulo;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  img {
    width: 25px;
    height: 25px;
    margin-left: 5px;
  }
  @media screen and (max-width: 1450px) {
    margin-bottom: 8px;
  }
}
.avatar {
  grid-area: img;
  width: 50px;
  height: 50px;
  margin: 3px 5px 3px 3px;
  border: 1px solid black;
  border-radius: 10px;
  padding: 5px;
  @media screen and (max-width: 1450px) {
    margin: 3px 10px 3px 0;
  }
}
.infoUser {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto 10px;
  padding: auto;
}
</style>

<script>
export default {
  name: "ranking-usuario-component",
  props: ["user", "statistics", "usualopponents", "nivelES", "nivelEN"],
  data() {
    return {
      c_user: null,
      c_statistics: null,
      c_usualopponents: null,
      c_rankingES: [],
      c_rankingEN: [],
      c_users: [],
      u_player: {},
      u_level: [{ en: null }, { es: null }],
      c_player: {}
    };
  },
  methods: {
    getLevelsUser: function() {
      var levelEN = 0;
      var levelES = 0;
      this.c_statistics.forEach(element => {
        if (element.language_code == "en") {
          levelEN = element.level;
        }
        if (element.language_code == "es") {
          levelES = element.level;
        }
      });
      this.u_level["en"] = levelEN;
      this.u_level["es"] = levelES;
    },
    addUser: function() {
      this.u_player = {
        p_id: this.c_user.id,
        p_name: this.c_user.name,
        p_avatar: this.c_user.avatar,
        p_level: this.u_level
      };
      this.c_users.push(this.u_player);
    },
    createUsers: function() {
      var id = null;
      var name = null;
      var avatar = null;
      var level = [{ en: null }, { es: null }];
      this.c_usualopponents.forEach(element => {
        id = element.id;
        name = element.name;
        avatar = element.avatar;
        level["en"] = element.level["en"];
        level["es"] = element.level["es"];
        this.c_player = {
          p_id: id,
          p_name: name,
          p_avatar: avatar,
          p_level: level
        };
        this.c_users.push(this.c_player);
      });
      this.addUser();
      console.log(this.c_users);
    },
    createRankingES: function() {
      var id, name, avatar, level, obj;
      this.c_users.forEach(element => {
        id = element.p_id;
        name = element.p_name;
        avatar = element.p_avatar;
        level = element.p_level["es"];
        obj = {
          p_id: id,
          p_name: name,
          p_avatar: avatar,
          p_level: level
        };
        this.c_rankingES.push(obj);
        this.c_rankingES.sort((a, b) => (a.p_level > b.p_level ? -1 : 1));
        console.log(this.c_rankingES);
      });
    },
    createRankingEN: function() {
      var id, name, avatar, level, obj;
      this.c_users.forEach(element => {
        id = element.p_id;
        name = element.p_name;
        avatar = element.p_avatar;
        level = element.p_level["en"];
        obj = {
          p_id: id,
          p_name: name,
          p_avatar: avatar,
          p_level: level
        };
        this.c_rankingEN.push(obj);
        this.c_rankingEN.sort((a, b) => (a.p_level > b.p_level ? -1 : 1));
        console.log(this.c_rankingEN);
      });
    },
    listenForBroadcast: function() {
      console.log("Escuchando canales: user" + this.c_user.id);
      Echo.private("user." + this.c_user.id).listen("AcceptedChallenge", e => {
        alert(
          "Generada partida " +
            e.gameId +
            "\nIdioma: " +
            e.lang +
            "\nOponente\n\tid: " +
            e.oppoId +
            "\n\tNombre: " +
            e.oppoName +
            "\n\tPaís: " +
            e.oppoCountry +
            "\n\tAvatar: " +
            e.oppoAvatar
        );

        this.requestChallengeId = e.gameId;

        console.log("Recibido");
      });
    }
  },
  created() {
    this.c_user = this.user;
    this.c_statistics = this.statistics;
    this.c_usualopponents = this.usualopponents;
    this.getLevelsUser();
    this.createUsers();
    this.createRankingES();
    this.createRankingEN();
    this.listenForBroadcast();
  },
  mounted() {
    console.log("Componente ranking-usuario-component montado.");
  }
};
</script>