<template>
  <div>
    <section id="animationWin" :class="!c_winner ? 'setNotVisible' : ''">
      <div class="set set3">
        <div>
          <img src="/img/S.png" style="width: 120px;">
        </div>
        <div>
          <img src="/img/C.png" style="width: 120px;">
        </div>
        <div>
          <img src="/img/R.png" style="width: 120px;">
        </div>
        <div>
          <img src="/img/A.png" style="width: 120px;">
        </div>
        <div>
          <img src="/img/B.png" style="width: 120px;">
        </div>
        <div>
          <img src="/img/B.png" style="width: 120px;">
        </div>
        <div>
          <img src="/img/L.png" style="width: 120px;">
        </div>
        <div>
          <img src="/img/E.png" style="width: 120px;">
        </div>
      </div>
      <div class="set">
        <div>
          <img src="/img/S.png" style="width: 120px;">
        </div>
        <div>
          <img src="/img/C.png" style="width: 120px;">
        </div>
        <div>
          <img src="/img/R.png" style="width: 120px;">
        </div>
        <div>
          <img src="/img/A.png" style="width: 120px;">
        </div>
        <div>
          <img src="/img/B.png" style="width: 120px;">
        </div>
        <div>
          <img src="/img/B.png" style="width: 120px;">
        </div>
        <div>
          <img src="/img/L.png" style="width: 120px;">
        </div>
        <div>
          <img src="/img/E.png" style="width: 120px;">
        </div>
      </div>
      <div class="set set2">
        <div>
          <img src="/img/S.png" style="width: 120px;">
        </div>
        <div>
          <img src="/img/C.png" style="width: 120px;">
        </div>
        <div>
          <img src="/img/R.png" style="width: 120px;">
        </div>
        <div>
          <img src="img/A.png">
        </div>
        <div>
          <img src="/img/B.png" style="width: 120px;">
        </div>
        <div>
          <img src="/img/B.png" style="width: 120px;">
        </div>
        <div>
          <img src="/img/L.png" style="width: 120px;">
        </div>
        <div>
          <img src="/img/E.png" style="width: 120px;">
        </div>
      </div>
    </section>
    <div id="user_tableboard" class="interface">
      <div class="ended win" v-if="isWinner">Partida ya finalizada. ¡¡Ganaste!!</div>
      <div class="ended lose" v-else-if="isLoser">Partida ya finalizada. ¡¡Perdiste!!</div>
      <datos-juego-component :game="c_game" :user="c_user"></datos-juego-component>
      <game-zone-component :game="c_game" :user="c_user" :opponent="c_opponent"></game-zone-component>
    </div>
  </div>
</template>

<style lang="scss" scoped>
@import "../../sass/variables_david";
section {
  width: 100%;
  height: 100%;
  background: radial-gradient(#333, #000);
}
.set {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: transparent;
  z-index: 5000;
  div {
    position: absolute;
    display: block;
    &:nth-child(1) {
      left: 20%;
      animation: animate 15s linear infinite;
      animation-delay: -7s;
    }
    &:nth-child(2) {
      left: 50%;
      animation: animate 20s linear infinite;
      animation-delay: -5s;
    }
    &:nth-child(3) {
      left: 70%;
      animation: animate 25s linear infinite;
    }
    &:nth-child(4) {
      left: 0%;
      animation: animate 15s linear infinite;
      animation-delay: -5s;
    }
    &:nth-child(5) {
      left: 85%;
      animation: animate 18s linear infinite;
      animation-delay: -10s;
    }
    &:nth-child(6) {
      left: 0%;
      animation: animate 12s linear infinite;
    }
    &:nth-child(7) {
      left: 15%;
      animation: animate 14s linear infinite;
    }
    &:nth-child(8) {
      left: 60%;
      animation: animate 16s linear infinite;
    }
  }
}
@keyframes animate {
  0% {
    opacity: 0;
    transform: translateX(20px) rotate(45deg);
    top: -10%;
  }
  10% {
    opacity: 1;
  }
  20% {
    transform: translateX(-20px) rotate(45deg);
  }
  40% {
    transform: translateX(-20px) rotate(90deg);
  }
  60% {
    transform: translateX(20px) rotate(135deg);
  }
  80% {
    transform: translateX(-20px) rotate(180deg);
  }
  100% {
    top: 110%;
    transform: translateX(-20px) rotate(225deg);
  }
}
.set2 {
  transform: scale(2) rotateY(180deg);
  filter: blur(2px);
}
.set3 {
  transform: scale(0.8) rotateX(180deg);
  filter: blur(4px);
}
.setNotVisible {
  display: none;
}
.interface {
  display: grid;
  grid-template-columns: minmax(375px, 1fr);
  grid-template-rows: 75px 615px;
  grid-template-areas: "info_game" "game_zone";
  grid-gap: $gap $gap;
  @media screen and (max-width: 1240px) {
    grid-template-rows: 75px 131vh;
    justify-content: center;
  }
}
</style>

<script>
import DatosJuegoComponent from "./DatosJuegoComponent";
import GameZoneComponent from "./GameZoneComponent";
export default {
  name: "tableboard-user-component",
  props: {
    user: { required: true, type: Object },
    opponent: { required: true, type: Object },
    game: { required: true, type: Object }
  },
  components: {
    DatosJuegoComponent,
    GameZoneComponent
  },
  data() {
    return {
      c_game: null,
      c_user: null,
      c_opponent: null,
      c_winner: null
    };
  },
  computed: {
    isWinner: function() {
      return (
        (this.c_user.player == "P1" && this.c_game.state == "win_p1") ||
        (this.c_user.player == "P2" && this.c_game.state == "win_p2")
      );
    },
    isLoser: function() {
      return (
        (this.c_user.player == "P2" && this.c_game.state == "win_p1") ||
        (this.c_user.player == "P1" && this.c_game.state == "win_p2")
      );
    }
  },
  methods: {
    mostarAnimacion: function() {
      if (this.isWinner) {
        // document
        //   .getElementById("animationWin")
        //   .classList.remove("setNotVisible");
        this.c_title = "Partida finalizada";
        this.c_message = "Has sido el vencedor del reto ¡¡¡Enhorabuena!!! ";
        Push.create(this.c_title, {
          body: this.c_message,
          icon: "/img/notify_win.png",
          timeout: 15000,
          onClick: function() {
            document
              .getElementById("animationWin")
              .classList.add("setNotVisible");
          }
        });
        setTimeout(function() {
          document
            .getElementById("animationWin")
            .classList.add("setNotVisible");
        }, 15000);
      }
    },
    notificarDerrota: function() {
      if (this.isLoser) {
        this.c_title = "Partida finalizada";
        this.c_message =
          "Has sido derrotado por tu oponente. Quizás la próxima vez sea diferente.";
        Push.create(this.c_title, {
          body: this.c_message,
          icon: "/img/notify_win.png",
          timeout: 15000
        });
      }
    }
    // listenForBroadcast: function() {
    /*  console.log("Escuchando canales: user"+this.c_user.id);
            Echo.private('user.' + this.c_user.id)
                .listen('AcceptedChallenge', (e) => {
                    alert("Generada partida " + e.gameId + "\nIdioma: " + e.lang +
                        "\nOponente\n\tid: " + e.oppoId +
                        "\n\tNombre: " + e.oppoName + "\n\tPaís: " + e.oppoCountry +
                        "\n\tAvatar: " + e.oppoAvatar);

                    this.requestChallengeId = e.gameId;

                    console.log("Recibido");
                });*/
    // }
  },
  created() {
    this.c_game = this.game;
    this.c_user = this.user;
    this.c_opponent = this.opponent;
    this.c_winner = this.isWinner;
    console.log("WIN: " + this.isWinner);
    this.mostarAnimacion();
    this.notificarDerrota();
    //this.listenForBroadcast();
  },
  mounted() {
    console.log("TableboardComponent montado.");
  },
  updated() {
    //this.mostarAnimacion();
  }
};
</script>
