#contenedor {
  display: grid;
  grid-template-columns: minmax(375px, 100%);
  grid-template-rows: 90px 400px 1fr 920px 150px;
  grid-gap: 0;
  grid-template-areas: 'head ' 'user' 'main' 'challenges' 'footer';
  height: 8vh;
}

@media screen and (max-width: 1450px) {
  #contenedor {
    grid-template-rows: 90px 400px 1010px 1350px 90px;
    height: 365vh;
  }
}

@media screen and (max-width: 866px) {
  #contenedor {
    grid-template-rows: 90px 400px 1530px 1330px 150px;
    height: 365vh;
  }
}

#head {
  grid-area: head;
}

#user {
  grid-area: user;
  min-width: 375px;
  width: 100%;
}

#main {
  grid-area: main;
  min-width: 375px;
  width: 100%;
}

@media screen and (max-width: 1450px) {
  #main {
    height: 200vh;
  }
}

.infochallenge {
  grid-area: challenges;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-area: footer;
  background: rgba(16, 16, 16, 0.7);
}

#subir {
  display: none !important;
}

