@import url(https://fonts.googleapis.com/css?family=Montserrat:400,600,700);@import url(https://fonts.googleapis.com/css?family=Catamaran:400,800);.error-container {
  text-align: center;
  font-size: 180px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 800;
  margin: 20px 15px;
}

.error-container span {
  display: inline-block;
  line-height: 0.7;
  position: relative;
  color: #ffb485;
}

.error-container span span {
  display: inline-block;
  position: relative;
}

.error-container span:nth-of-type(1) {
  -webkit-perspective: 1000px;
          perspective: 1000px;
  -webkit-perspective-origin: 500% 50%;
          perspective-origin: 500% 50%;
  color: #f0e395;
}

.error-container span:nth-of-type(1) span {
  -webkit-transform-origin: 50% 100% 0px;
          transform-origin: 50% 100% 0px;
  -webkit-transform: rotateX(0);
          transform: rotateX(0);
  -webkit-animation: easyoutelastic 8s infinite;
          animation: easyoutelastic 8s infinite;
}

.error-container span:nth-of-type(3) {
  -webkit-perspective: none;
          perspective: none;
  -webkit-perspective-origin: 50% 50%;
          perspective-origin: 50% 50%;
  color: #d15c95;
}

.error-container span:nth-of-type(3) span {
  -webkit-transform-origin: 100% 100% 0px;
          transform-origin: 100% 100% 0px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-animation: rotatedrop 8s infinite;
          animation: rotatedrop 8s infinite;
}

@-webkit-keyframes easyoutelastic {
  0% {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
  }

  9% {
    -webkit-transform: rotateX(210deg);
            transform: rotateX(210deg);
  }

  13% {
    -webkit-transform: rotateX(150deg);
            transform: rotateX(150deg);
  }

  16% {
    -webkit-transform: rotateX(200deg);
            transform: rotateX(200deg);
  }

  18% {
    -webkit-transform: rotateX(170deg);
            transform: rotateX(170deg);
  }

  20% {
    -webkit-transform: rotateX(180deg);
            transform: rotateX(180deg);
  }

  60% {
    -webkit-transform: rotateX(180deg);
            transform: rotateX(180deg);
  }

  80% {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
  }

  100% {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
  }
}

@keyframes easyoutelastic {
  0% {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
  }

  9% {
    -webkit-transform: rotateX(210deg);
            transform: rotateX(210deg);
  }

  13% {
    -webkit-transform: rotateX(150deg);
            transform: rotateX(150deg);
  }

  16% {
    -webkit-transform: rotateX(200deg);
            transform: rotateX(200deg);
  }

  18% {
    -webkit-transform: rotateX(170deg);
            transform: rotateX(170deg);
  }

  20% {
    -webkit-transform: rotateX(180deg);
            transform: rotateX(180deg);
  }

  60% {
    -webkit-transform: rotateX(180deg);
            transform: rotateX(180deg);
  }

  80% {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
  }

  100% {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
  }
}

@-webkit-keyframes rotatedrop {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }

  10% {
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
  }

  15% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }

  70% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }

  80% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }

  100% {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
  }
}

@keyframes rotatedrop {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }

  10% {
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
  }

  15% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }

  70% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }

  80% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }

  100% {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
  }
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
button,
input,
select,
textarea {
  font-family: 'Monserrat', Arial, Helvetica, sans-serif;
  color: #bbb;
}

body {
  background-color: #f4f4f4;
  margin-bottom: 50px;
}

h1 {
  text-align: center;
  margin: 30px 15px;
}

.info-area {
  max-width: 490px;
  margin: 30px auto 30px;
  font-size: 19px;
  text-align: center;
}

.link-container {
  text-align: center;
}

a.more-link {
  text-transform: uppercase;
  font-size: 13px;
  background-color: #bbb;
  padding: 10px 15px;
  border-radius: 0;
  color: #fff;
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 5px;
  line-height: 1.5;
  text-decoration: none;
  margin-top: 50px;
  letter-spacing: 1px;
}

