/* img {
	vertical-align: middle;
} */

.nav ul {
  overflow: hidden;
}
#cabecera {
  z-index: 501;
}

#contInfoImprenta {
  /* padding-top: 30px;	 */
  z-index: -300;
}

p {
  text-indent: 25px;
}

.row {
  margin-top: 5px;
}

.goUp {
  position: fixed;
  bottom: 15px;
  right: 15px;
  opacity: 0.9;
  text-decoration: none;
  z-index: 4001;
}

.imgCabecera {
  width: 100%;
  max-height: 900px;
  opacity: 0.8;
  z-index: 500;
}

#menuNav {
  background-color: burlywood;
  width: 100%;
  opacity: 1;
  margin-top: -5px;
  z-index: 501;
}

.fijarCabecera {
  top: -900px;
  position: fixed;
}

.miLogo {
  width: 180px;
  height: 100px;
}
.miLogoPequeño {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

#linkGutenberg,
#linkTrabajos,
#linkDifusion,
#linkLibros,
#linkImprentaValencia,
#linkScrabble,
#linkLogin,
#linkRegistro,
#linkLogout,
#linkDashboard {
  color: rgba(12, 11, 6, 0.85);
  font-weight: bold;
  font-size: 16px;
}
#linkGutenberg:hover,
#linkTrabajos:hover,
#linkDifusion:hover,
#linkLibros:hover,
#linkImprentaValencia:hover,
#linkScrabble:hover,
#linkLogin:hover,
#linkRegistro:hover,
#linkLogout:hover,
#linkDashboard:hover {
  color: rgba(48, 46, 38, 0.85);
  font-weight: bold;
  font-size: 16px;
  text-shadow: 0 20px 40px rgba(247, 245, 245, 0.6);
}

.active a {
  text-decoration: underline;
}

#imgGuntenberg,
#imgScrabble,
#imgAlfredMosher {
  margin-right: 15px;
  margin-bottom: 10px;
  float: left;
}

.gutenberg,
.scrabbleInfo {
  margin-top: 30px;
}

.gutenbergScroll {
  margin-top: 130px;
}

.textoGutenberg {
  float: left;
  width: 100%;
  height: 400px;
  position: relative;
  overflow: auto;
  transition: height 2s;
  -webkit-transition: height 2s; /* Safari 3.1 to 6.0 */
}

.textoGutenberg:hover {
  height: 600px;
  border-radius: 5px;
  box-shadow: 3px 3px 5px 5px rgba(51, 48, 51, 1);
  -webkit-box-shadow: 3px 3px 5px 5px rgba(51, 48, 51, 1);
  -moz-box-shadow: 3px 3px 5px 5px rgba(51, 48, 51, 1);
}

.contenedor-cabecera {
  position: relative;
  background-color: black;
}

.header-caption {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 30px 45px;
  text-align: center;
}

.header-caption h1 {
  text-align: center;
  position: absolute;
  font-size: 140px;
  font-weight: bold;
  letter-spacing: 12px;
  color: rgba(255, 255, 255, 0.8);
  line-height: 64px;
  top: 70%;
  left: auto;
  right: auto;
  text-shadow: 0 0 15px rgba(255, 255, 255, 0.5),
    0 0 10px rgba(255, 255, 255, 0.5), 0 0 5px rgba(255, 255, 255, 0.5);
}

#carouselInvento {
  width: 70%;
  margin: 30px auto;
}

.carousel-caption {
  background-color: rgba(43, 23, 1, 0.75);
  height: 100%;
  left: 0;
  top: 0;
  padding: 30px 45px;
  text-align: left;
  width: 350px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.carousel-caption p {
  font-size: 16px;
  line-height: 18px;
}

.carousel-caption h4 {
  font-size: 26px;
  line-height: 30px;
}

.carousel-caption h5 {
  font-size: 20px;
  margin-bottom: 30px;
  margin-top: 8px;
}

div.texto {
  position: absolute;
  left: 50%;
  top: 49%;
  width: 49%;
  font-size: 18px;
  text-align: justify;
  z-index: -1;
}

.estrecharIzq {
  transition: transform 2s;
  -webkit-transition: transform 2s;
  transform-origin: 0% 100%;
  transform: scaleX(0.49);
  animation-duration: 2s;
  animation-name: sombra;
}

@keyframes sombra {
  0% {
    border-radius: 5px;
    -webkit-box-shadow: 7px 1px 8px 20px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 7px 1px 8px 20px rgba(0, 0, 0, 0.75);
    box-shadow: 7px 1px 8px 20px rgba(0, 0, 0, 0.75);
  }
  100% {
    border-radius: 5px;
    -webkit-box-shadow: 7px 1px 8px 20px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 7px 1px 8px 20px rgba(0, 0, 0, 0.75);
    box-shadow: 7px 1px 8px 20px rgba(0, 0, 0, 0.75);
  }
}

.ensancharDer {
  transition: transform 2s;
  -webkit-transition: transform 2s;
  transform-origin: 0% 100%;
  transform: scaleX(1);
}

#gutenberg > h2,
h3,
#difusionImprenta > h2,
h3,
#trabajosImprenta > h2,
h3,
#primerosLibros > h2,
h3,
#imprentaValenciana > h2,
h3,
#scrabbleInfo > h2,
h3,
#scrabbleHistoria > h2,
h3,
#jugarScrabble > h2,
h3 {
  margin: 10px 0px 15px 5px;
  font-weight: bold;
  text-shadow: 1px 2px #999;
}

#gutenberg > #img01 {
  float: left;
  margin: 0 10px 0 5px;
}

.listaHorizontal ul {
  list-style-type: none;
}

.listaHorizontal li {
  display: inline;
  margin-right: 10px;
}

.miImgsXL {
  background-image: url('../img/11_Europa_e_imprenta.png');
  background-position: center;
  background-size: cover;
  display: grid;
  grid-template-areas: 'mapaEU';
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  justify-items: center;
  width: 100%;
  max-width: 600px;
  height: 100%;
  max-height: 450px;
  z-index: -300;
  float: right;
  /* border: 1px solid #000;
    max-width: 90vw; */
}
.miImgsXL > img {
  width: 100%;
  max-width: 600px;
  height: 100%;
  max-height: 450px;
  grid-area: mapaEU;
  align-self: center;
  float: right;
  z-index: 1;
}

.miImgsXL #XL {
  /* en la parte inferior */
  grid-area: mapaEU;
  width: 100%;
  align-self: flex-end;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 300;
  text-align: center;
  line-height: 1;
  margin: 0 0;
  z-index: 100;
}

div.miImgs {
  display: grid;
  position: relative;
  grid-template-areas: 'soloyo';
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
  max-width: 90%;
  overflow: hidden;
}

div.miImgs img {
  grid-area: soloyo;
  width: 400px;
  /*max-width: 100%; */
  height: auto;
  object-fit: cover;
  object-position: center center;
  margin: 20px 0;
}

#imgComponedor,
#imgTirador,
#img12,
#img14 {
  width: 100%;
  max-width: 500px;
  max-height: 600px;
  border-radius: 10px;
}

#imgEntintador,
#img13 {
  width: 100%;
  max-width: 500px;
  max-height: 500px;
  border-radius: 10px;
}

figcaption {
  /* en la parte inferior */
  background: rgba(0, 0, 0, 0.6);
  grid-area: soloyo;
  width: 300px;
  align-self: flex-end;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 300;
  text-align: center;
  line-height: 1;
  margin: 20px 0;
}

#img08 figcaption,
#img09 figcaption,
#img10 figcaption {
  /* en la parte inferior */
  background: rgba(0, 0, 0, 0.6);
  grid-area: soloyo;
  width: 300px;
  align-self: flex-end;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 300;
  text-align: center;
  line-height: 1;
}

div.img img {
  margin: 0;
  padding: 0;
}

#difusionImprenta ul li .imgs {
  margin-left: 0;
}

#difusionImprenta ul li .img {
  margin-top: 10px;
  margin-bottom: 10px;
}

#gutenberg p,
#gutenberg ul li,
#trabajosImprenta p,
#trabajosImprenta ul li,
#difusionImprenta p,
#difusionImprenta ul li,
#primerosLibros p,
#primerosLibros ul li,
#imprentaValenciana p,
#imprentaValenciana ul li,
#scrabbleInfo p,
#scrabbleInfo ul li,
#scrabbleHistoria p,
#scrabbleHistoria ul li,
#jugarScrabble p,
#jugarScrabble ul li,
#jugarScrabble ol li {
  position: relative;
  text-indent: 40px;
  margin: 10px 5px 10px 5px;
  font-size: 18px;
  text-align: justify;
}

.left {
  float: left;
}

.right {
  float: right;
}

.afix {
  clear: both;
}

.cajaFlex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.cajaFlexLeft {
  display: flex;
  flex-direction: row;
  justify-content: left;
}

#img01,
#img08,
#img10 {
  margin-top: 10px;
  width: 300px;
  height: 400px;
}

#img02,
#img03,
#img15,
#img05,
#img06,
#img07,
#img34 {
  width: 100%;
  height: 660px;
  border-radius: 5px;
}

#img16,
#img04 {
  width: 100%;
  max-width: 700px;
  max-height: 400px;
  border-radius: 5px;
}

#img17,
#img18,
#img19,
#img20 {
  width: 100%;
  max-width: 300px;
  max-height: 400px;
  border-radius: 5px;
}

#img22,
#img24 {
  width: 400px;
  height: 300px;
}

#img21 {
  margin-top: 10px;
  width: 100%;
  max-width: 400px;
  max-height: 400px;
}

#img23 {
  margin-top: 10px;
  width: 100%;
  max-width: 300px;
  max-height: 300px;
}

.imgLink {
  display: block;
  box-shadow: 0 8px 10px -6px rgba(33, 33, 33, 0.6);
  -webkit-box-shadow: 0 8px 20px 9px rgba(33, 33, 33, 0.6);
  -moz-box-shadow: 0 8px 20px 9px rgba(33, 33, 33, 0.6);
  -ms-box-shadow: 0 8px 20px 9px rgba(33, 33, 33, 0.6);
  -o-box-shadow: 0 8px 20px 9px rgba(33, 33, 33, 0.6);
}

.cont {
  /* width: 400px;
	height: 300px; */
  position: relative;
  font-size: 18px;
  text-align: justify;
  left: 0;
  right: 0;
  /* top:20px; */
}
.cont .div-img {
  /* width: 400px;
	height: 300px; */
  position: relative;
  font-size: 18px;
  text-align: justify;
  left: 0;
  right: 0;
  margin: auto auto;
  /* top:20px; */
}

.cont p {
  margin: 0 10px 15px 10px;
}

.div-img .img {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  display: block;

  margin-left: 10px;

  width: 100%;
  transform: scale(1);
  -ms-transform: scale(1);
  -moz-transform: scale(1);
  -webkit-transform: scale(1);
  -o-transform: scale(1);
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -ms-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
}

.div-img .text {
  background-color: rgba(153, 81, 5, 0.75);
  background-color: rgba(153, 81, 5, 0.75);
  font-weight: bold;
  background-color: rgba(153, 81, 5, 0.75);
  font-size: 14px;
  display: block;
  text-align: center;
  width: 100%;
  transform: translate(0px);
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -ms-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  opacity: 0;
  transition: transfom opacity 1.5s;
}
.div-img:hover .img {
  transform: scale(0.8);
  -ms-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -webkit-transform: scale(0.8);
  -o-transform: scale(0.8);
}
.div-img:hover .text {
  transform: translate(0px, -20px);
  opacity: 1;
}

.primer_num {
  font-size: 43px;
  color: #545454;
  padding: 0px 15px 3px 0;
  float: left;
  font-weight: bold;
}

ol li span {
  color: darkblue;
  font-weight: bold;
  font-size: 20px;
}

ol li > ul li span {
  color: darkred;
  font-weight: bold;
  font-size: 18px;
}

.ir-arriba {
  display: block;
  padding: 20px;
  background: burlywood;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 20px;
  border-radius: 50%;
}

.quitar {
  display: none;
}

.animation {
  visibility: hidden;
}

#list-tab-jugar>a {
  background-color: whitesmoke;
  border-color: whitesmoke;
}

#list-tab-jugar>a.active {
  z-index: 2;
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}
@media (max-width: 576px) {
  .header-caption h1 {
    display: none;
  }
  #img02,
  #img03,
  #img04,
  #img05,
  #img06,
  /* #img13, */
  #img15,
  #img16,
  #img22,
  #img24 {
    margin-top: 10px;
    width: 200px;
    height: 150px;
  }

  #img01,
  #img07,
  #img08,
  #img10,
  /* #img12, */
  /* #img14, */
  #img17,
  #img18,
  #img19,
  #img20 {
    margin-top: 10px;
    width: 150px; /* width: 400px;
		height: 300px; */
    height: 200px;
  }

  /* #img21 {
    margin-top: 10px;
    width: 200px;
    height: 200px;
  } */

  /* #img23 {
    margin-top: 10px;
    width: 150px;
    height: 150px;
  } */

  /* .miImgsXL {
    background-image: url('../img/11_Europa_e_imprenta.png');
    background-position: center;
    background-size: cover;
    display: grid;
    grid-template-areas: 'mapaEU';
    grid-template-columns: 100%;
    grid-template-rows: 100%;
    justify-content: center;
    justify-items: center;
    max-width: 400px;
    width: auto;
    height: auto;
    z-index: -300;
  }

  .miImgsXL > img {
    max-width: 576px;
    width: auto;
    height: auto;
    grid-area: mapaEU;
    align-self: flex-start;
    z-index: 1;
  }

  .miImgsXL #XL {

    grid-area: mapaEU;
    width: 100%;
    align-self: flex-end;
    color: #fff;
    font-size: 0.8rem;
    font-weight: 300;
    text-align: center;
    line-height: 1;
    margin: 0 0;
    z-index: 100;
  } */

  .cajaFlex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
  }

  .cajaFlexLeft {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
  }

  .cont {
    /* width: 400px;
		height: 300px; */
    position: relative;
    font-size: 18px;
    text-align: justify;
    left: 0;
    right: 0;
    /* top:20px; */
  }

  .cont .div-img {
    /* width: 400px;
		height: 300px; */
    position: relative;
    font-size: 18px;
    text-align: justify;
    left: 0;
    right: 0;
    margin: auto auto;
    /* top:20px; */
  }

  .cont p {
    margin: 0 10px 15px 10px;
  }

  div.miImgs {
    display: grid;
    position: relative;
    grid-template-areas: 'soloyo';
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-content: center;
    justify-items: center;
    max-width: 90%;
    overflow: hidden;
  }

  div#img08 img,
  div#img09 img,
  div#img10 img {
    grid-area: soloyo;
    width: 150px;
    /* position: absolute; */
    top: 0px;
    left: 0px;
    /*max-width: 100%; */
    height: auto;
    object-fit: cover;
    object-position: center center;
    margin: 10px 0;
  }

  figcaption {
    /* en la parte inferior */
    background: rgba(0, 0, 0, 0.6);
    grid-area: soloyo;
    width: 150px;
    align-self: flex-end;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 300;
    text-align: center;
    line-height: 1;
    margin: 10px 0;
  }

  #img08 figcaption,
  #img09 figcaption,
  #img10 figcaption {
    /* en la parte inferior */
    background: rgba(0, 0, 0, 0.6);
    grid-area: soloyo;
    width: 150px;
    align-self: flex-end;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 300;
    text-align: center;
    line-height: 1;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}
@media (max-width: 768px) {
  .header-caption h1 {
    display: none;
  }
  #img02,
  #img03,
  #img04,
  #img05,
  #img06,
  /* #img13, */
  #img15,
  #img16,
  #img22,
  #img24 {
    margin-top: 10px;
    width: 300px;
    height: 200px;
  }

  #img01,
  #img07,
  #img08,
  #img10,
  /* #img12, */
  /* #img14, */
  #img17,
  #img18,
  #img19,
  #img20 {
    margin-top: 10px;
    width: 200px;
    height: 300px;
  }

  /* #img21 {
    margin-top: 10px;
    width: 300px;
    height: 300px;
  } */

  /* #img23 {
    margin-top: 10px;
    width: 200px;
    height: 200px;
  } */

  /* .miImgsXL {
    background-image: url('../img/11_Europa_e_imprenta.png');
    background-position: center;
    background-size: cover;
    display: grid;
    grid-template-areas: 'mapaEU';
    grid-template-columns: 100%;
    grid-template-rows: 100%;
    justify-content: center;
    justify-items: center;
    max-width: 576px;
    width: auto;
    height: auto;
    z-index: -300;
  }

  .miImgsXL > img {
    max-width: 768px;
    height: auto;
    width: auto;
    grid-area: mapaEU;
    align-self: flex-start;
    z-index: 1;
  }

  .miImgsXL #XL {

    grid-area: mapaEU;
    width: 100%;
    align-self: flex-end;
    color: #fff;
    font-size: 0.9rem;
    font-weight: 300;
    text-align: center;
    line-height: 1;
    margin: 0 0;
    z-index: 100;
  } */

  .cajaFlex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
  }

  .cajaFlexLeft {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
  }

  .cont {
    /* width: 400px;
		height: 300px; */
    position: relative;
    font-size: 18px;
    text-align: justify;
    left: 0;
    right: 0;
    /* top:20px; */
  }

  .cont .div-img {
    /* width: 400px;
		height: 300px; */
    position: relative;
    font-size: 18px;
    text-align: justify;
    left: 0;
    right: 0;
    margin: auto auto;
    /* top:20px; */
  }

  .cont p {
    margin: 0 10px 15px 10px;
  }

  div.miImgs {
    display: grid;
    position: relative;
    grid-template-areas: 'soloyo';
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-content: center;
    justify-items: center;
    max-width: 90%;
    overflow: hidden;
  }

  div#img08 img,
  div#img09 img,
  div#img10 img {
    grid-area: soloyo;
    width: 200px;
    /* position: absolute; */
    top: 0px;
    left: 0px;
    /*max-width: 100%; */
    height: auto;
    object-fit: cover;
    object-position: center center;
    margin: 15px 0;
  }

  figcaption {
    /* en la parte inferior */
    background: rgba(0, 0, 0, 0.6);
    grid-area: soloyo;
    width: 200px;
    align-self: flex-end;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 300;
    text-align: center;
    line-height: 1;
    margin: 15px 0;
  }

  #img08 figcaption,
  #img09 figcaption,
  #img10 figcaption {
    /* en la parte inferior */
    background: rgba(0, 0, 0, 0.6);
    grid-area: soloyo;
    width: 200px;
    align-self: flex-end;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 300;
    text-align: center;
    line-height: 1;
  }
}

/* Large devices (desktops, 992px and up) */
@media (max-width: 992px) {
  #img02,
  #img03,
  #img04,
  #img05,
  #img06,
  /* #img13, */
  #img15,
  #img16,
  #img22,
  #img24 {
    margin-top: 10px;
    width: 350px;
    height: 250px;
  }

  #img01,
  #img07,
  #img08,
  #img10,
  /* #img12, */
  /* #img14, */
  #img17,
  #img18,
  #img19,
  #img20 {
    margin-top: 10px;
    width: 250px;
    height: 350px;
  }

  /* #img21 {
    margin-top: 10px;
    width: 350px;
    height: 350px;
  } */

  /* #img23 {
    margin-top: 10px;
    width: 250px;
    height: 250px;
  } */

  /* .miImgsXL {
    background-image: url('../img/11_Europa_e_imprenta.png');
    background-position: center;
    background-size: cover;
    display: grid;
    grid-template-areas: 'mapaEU';
    grid-template-columns: 100%;
    grid-template-rows: 100%;
    justify-content: center;
    justify-items: center;
    max-width: 768px;
    width: auto;
    height: auto;
    z-index: -300;
  }

  .miImgsXL > img {
    max-width: 992px;
    width: auto;
    height: auto;
    grid-area: mapaEU;
    align-self: flex-start;
    z-index: 1;
  }

  .miImgsXL #XL {

    grid-area: mapaEU;
    width: 100%;
    align-self: flex-end;
    color: #fff;
    font-size: 1rem;
    font-weight: 300;
    text-align: center;
    line-height: 1;
    margin: 0 0;
    z-index: 100;
  } */

  div.miImgs {
    display: grid;
    position: relative;
    grid-template-areas: 'soloyo';
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-content: center;
    justify-items: center;
    max-width: 90%;
    overflow: hidden;
  }

  div#img08 img,
  div#img09 img,
  div#img10 img {
    grid-area: soloyo;
    width: 250px;
    /* position: absolute; */
    top: 0px;
    left: 0px;
    /*max-width: 100%; */
    height: auto;
    object-fit: cover;
    object-position: center center;
    margin: 20px 0;
  }

  figcaption {
    /* en la parte inferior */
    background: rgba(0, 0, 0, 0.6);
    grid-area: soloyo;
    width: 250px;
    align-self: flex-end;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 300;
    text-align: center;
    line-height: 1;
    margin: 20px 0;
  }

  #img08 figcaption,
  #img09 figcaption,
  #img10 figcaption {
    /* en la parte inferior */
    background: rgba(0, 0, 0, 0.6);
    grid-area: soloyo;
    width: 250px;
    align-self: flex-end;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 300;
    text-align: center;
    line-height: 1;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
/* @media (min-width: 1200px) {

 }
   */
