html,
body {
  height: 100%;
  background-color: whitesmoke;
}

body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -webkit-box-align: center;
  align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.card {
  border: 1px solid #28a745;
}

.card-login {
  margin-top: 130px;
  padding: 18px;
  max-width: 30rem;
}

.card-header {
  color: #fff;
  /*background: #ff0000;*/
  font-family: sans-serif;
  font-size: 20px;
  font-weight: 600 !important;
  margin-top: 10px;
  border-bottom: 0;
}

.input-group-prepend span {
  width: 50px;
  background-color: #ff0000;
  color: #fff;
  border: 0 !important;
}

input:focus {
  outline: 0 0 0 0 !important;
  -webkit-box-shadow: 0 0 0 0 !important;
          box-shadow: 0 0 0 0 !important;
}

.requerido {
  color: whitesmoke;
}

#reset {
  color: whitesmoke;
  text-decoration: none;
}

#reset:hover {
  color: #c5ffb4;
  text-decoration: underline;
  font-style: italic;
}

.login_btn {
  width: 130px;
}

.login_btn:focus {
  color: #fff;
  background-color: #ff0000;
  text-decoration: underline;
  font-style: italic;
}

.btn-outline-danger {
  color: #fff;
  font-size: 18px;
  background-color: #28a745;
  background-image: none;
  border-color: #28a745;
}

.btn-outline-danger:hover {
  text-decoration: underline;
  font-style: italic;
}

.form-control {
  display: block;
  width: 100%;
  height: calc(2.25rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1.2rem;
  line-height: 1.6;
  color: #28a745;
  background-color: transparent;
  background-clip: padding-box;
  border: 1px solid #28a745;
  border-radius: 0;
  -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

.input-group-text {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
  padding: 0.375rem 0.75rem;
  margin-bottom: 0;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.6;
  color: #495057;
  text-align: center;
  white-space: nowrap;
  background-color: #e9ecef;
  border: 1px solid #ced4da;
  border-radius: 0;
}

.contenedorLogin {
  -ms-flex-align: center;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
}

#menuLogin > span {
  background: #f2c993;
  line-height: 3;
  padding: 0 2em;
  margin-top: 2em;
  margin-bottom: 1.5em;
  position: relative;
  width: 199px;
  text-align: center;
  border-radius: 5px;
}

#menuLogin > span a {
  padding: 5px 0px;
  font-size: 1em;
  font-weight: 700;
  text-decoration: none;
  color: #49555c;
}

#menuLogin > span a:hover {
  color: #1c2023;
}

#menuLogin > span:hover {
  cursor: pointer;
}

#menuLogin > span:hover a {
  color: #1c2023;
}

#menuLogin > span:before {
  content: '';
  display: block;
  width: 0;
  height: 3px;
  background: #fff;
  position: absolute;
  bottom: 0;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

#menuLogin > span:hover:before {
  width: 100%;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

@media (max-width: 576px) {
  #menuLogin > span {
    width: 90px;
    padding: 0;
  }

  #menuLogin > span a {
    font-size: 0.5em;
  }
}

@media (max-width: 768px) {
  #menuLogin > span {
    width: 90px;
    padding: 0;
  }

  #menuLogin > span a {
    font-size: 0.5em;
  }
}

@media (max-width: 1200px) {
  #menuLogin > span {
    width: 150px;
    padding: 0;
  }

  #menuLogin > span a {
    font-size: 0.5em;
    font-weight: 800;
  }
}

.izquierda:before {
  left: 0;
}

.centro:before {
  left: 50%;
}

.centro:hover:before {
  left: 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.derecha:before {
  right: 0;
}

.contenedor-login {
  width: 100%;
  max-width: 500px;
  margin: auto;
  border-radius: 30%;
}

.contenedor-login form {
  background-color: rgba(227, 179, 74, 0.69);
  width: 500px;
  height: 500px;
  padding: 40px 25px 30px 45px;
  border-radius: 30%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 3px 3px 2px #f00, -3px -3px 2px #f00, 5px 5px 2px #f00, -5px -5px 2px #f00, 8px 8px 5px #ff9d00, -8px -8px 5px #ff9d00;
          box-shadow: 3px 3px 2px #f00, -3px -3px 2px #f00, 5px 5px 2px #f00, -5px -5px 2px #f00, 8px 8px 5px #ff9d00, -8px -8px 5px #ff9d00;
  animation: cambioColor 10s linear 2s 9999 alternate-reverse;
}

@-webkit-keyframes cambioColor {
  0% {
    background-color: rgba(227, 179, 74, 0.54);
    -webkit-box-shadow: 3px 3px 2px #ff0, -3px -3px 2px #ff0, 5px 5px 2px #080, -5px -5px 2px #080, 8px 8px 5px #00f, -8px -8px 5px #00f;
            box-shadow: 3px 3px 2px #ff0, -3px -3px 2px #ff0, 5px 5px 2px #080, -5px -5px 2px #080, 8px 8px 5px #00f, -8px -8px 5px #00f;
  }

  10% {
    background-color: rgba(208, 128, 59, 0.54);
  }

  20% {
    background-color: rgba(208, 59, 145, 0.54);
  }

  30% {
    background-color: rgba(208, 133, 59, 0.54);
  }

  40% {
    background-color: rgba(242, 51, 117, 0.54);
  }

  50% {
    background-color: rgba(22, 175, 99, 0.54);
    -webkit-box-shadow: 3px 3px 2px #20e272, -3px -3px 2px #20e272, 5px 5px 2px #93931c, -5px -5px 2px #93931c, 8px 8px 5px #dd22a3, -8px -8px 5px #dd22a3;
            box-shadow: 3px 3px 2px #20e272, -3px -3px 2px #20e272, 5px 5px 2px #93931c, -5px -5px 2px #93931c, 8px 8px 5px #dd22a3, -8px -8px 5px #dd22a3;
  }

  60% {
    background-color: rgba(203, 240, 44, 0.54);
  }

  70% {
    background-color: rgba(245, 117, 23, 0.54);
  }

  80% {
    background-color: rgba(65, 198, 25, 0.54);
  }

  90% {
    background-color: rgba(243, 48, 48, 0.54);
  }

  100% {
    background-color: rgba(239, 175, 99, 0.54);
    -webkit-box-shadow: 3px 3px 2px #c78a29, -3px -3px 2px #c78a29, 5px 5px 2px #199a4b, -5px -5px 2px #ff0, 8px 8px 5px #ff0, -8px -8px 5px #f00;
            box-shadow: 3px 3px 2px #c78a29, -3px -3px 2px #c78a29, 5px 5px 2px #199a4b, -5px -5px 2px #ff0, 8px 8px 5px #ff0, -8px -8px 5px #f00;
  }
}

@keyframes cambioColor {
  0% {
    background-color: rgba(227, 179, 74, 0.54);
    -webkit-box-shadow: 3px 3px 2px #ff0, -3px -3px 2px #ff0, 5px 5px 2px #080, -5px -5px 2px #080, 8px 8px 5px #00f, -8px -8px 5px #00f;
            box-shadow: 3px 3px 2px #ff0, -3px -3px 2px #ff0, 5px 5px 2px #080, -5px -5px 2px #080, 8px 8px 5px #00f, -8px -8px 5px #00f;
  }

  10% {
    background-color: rgba(208, 128, 59, 0.54);
  }

  20% {
    background-color: rgba(208, 59, 145, 0.54);
  }

  30% {
    background-color: rgba(208, 133, 59, 0.54);
  }

  40% {
    background-color: rgba(242, 51, 117, 0.54);
  }

  50% {
    background-color: rgba(22, 175, 99, 0.54);
    -webkit-box-shadow: 3px 3px 2px #20e272, -3px -3px 2px #20e272, 5px 5px 2px #93931c, -5px -5px 2px #93931c, 8px 8px 5px #dd22a3, -8px -8px 5px #dd22a3;
            box-shadow: 3px 3px 2px #20e272, -3px -3px 2px #20e272, 5px 5px 2px #93931c, -5px -5px 2px #93931c, 8px 8px 5px #dd22a3, -8px -8px 5px #dd22a3;
  }

  60% {
    background-color: rgba(203, 240, 44, 0.54);
  }

  70% {
    background-color: rgba(245, 117, 23, 0.54);
  }

  80% {
    background-color: rgba(65, 198, 25, 0.54);
  }

  90% {
    background-color: rgba(243, 48, 48, 0.54);
  }

  100% {
    background-color: rgba(239, 175, 99, 0.54);
    -webkit-box-shadow: 3px 3px 2px #c78a29, -3px -3px 2px #c78a29, 5px 5px 2px #199a4b, -5px -5px 2px #ff0, 8px 8px 5px #ff0, -8px -8px 5px #f00;
            box-shadow: 3px 3px 2px #c78a29, -3px -3px 2px #c78a29, 5px 5px 2px #199a4b, -5px -5px 2px #ff0, 8px 8px 5px #ff0, -8px -8px 5px #f00;
  }
}

h1 {
  font-size: 18px;
  font-weight: 800;
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-label-group input,
.form-label-group label {
  height: 3.125rem;
  padding: 0.75rem;
}

.form-label-group label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0;
  line-height: 1.5;
  color: #495057;
  pointer-events: none;
  cursor: text;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
  color: transparent;
}

.form-label-group input:-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-moz-input-placeholder {
  color: transparent;
}

.form-label-group input::-webkit-input-placeholder {
  color: transparent;
}

.form-label-group input:-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::placeholder {
  color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
  padding-top: 1.25rem;
  padding-bottom: 0.25rem;
}

.form-label-group input:not(:placeholder-shown) ~ label {
  padding-top: 0.25rem;
  -webkit-padding-after: 0.25rem;
          padding-block-end: 0.25rem;
  font-size: 12px;
  color: #777;
}

i {
  font-size: 19px;
}

