html,
body {
  height: 100%;
  background-color: whitesmoke;
}

body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -webkit-box-align: center;
  align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.card {
  border: 1px solid #28a745;
}

.card-login {
  margin-top: 130px;
  padding: 18px;
  max-width: 30rem;
}

.card-header {
  color: #fff;
  /*background: #ff0000;*/
  font-family: sans-serif;
  font-size: 20px;
  font-weight: 600 !important;
  margin-top: 10px;
  border-bottom: 0;
}

.input-group-prepend span {
  width: 50px;
  background-color: #ff0000;
  color: #fff;
  border: 0 !important;
}

input:focus {
  outline: 0 0 0 0 !important;
  -webkit-box-shadow: 0 0 0 0 !important;
          box-shadow: 0 0 0 0 !important;
}

.requerido {
  color: whitesmoke;
}

#reset {
  color: whitesmoke;
  text-decoration: none;
}

#reset:hover {
  color: #c5ffb4;
  text-decoration: underline;
  font-style: italic;
}

.login_btn {
  width: 170px;
}

.login_btn:focus {
  color: #fff;
  background-color: #ff0000;
  text-decoration: underline;
  font-style: italic;
}

.btn-outline-danger {
  color: #fff;
  font-size: 18px;
  background-color: #28a745;
  background-image: none;
  border-color: #28a745;
}

.btn-outline-danger:hover {
  text-decoration: underline;
  font-style: italic;
}

.form-control {
  display: block;
  width: 100%;
  height: calc(2.25rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1.2rem;
  line-height: 1.6;
  color: #28a745;
  background-color: transparent;
  background-clip: padding-box;
  border: 1px solid #28a745;
  border-radius: 0;
  -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

.input-group-text {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -webkit-box-align: center;
          align-items: center;
  padding: 0.375rem 0.75rem;
  margin-bottom: 0;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.6;
  color: #495057;
  text-align: center;
  white-space: nowrap;
  background-color: #e9ecef;
  border: 1px solid #ced4da;
  border-radius: 0;
}

#menuRegister > span {
  background: #f2c993;
  line-height: 3;
  padding: 0 2em;
  margin-top: 2em;
  margin-bottom: 1.5em;
  position: relative;
  width: 199px;
  text-align: center;
  border-radius: 5px;
}

#menuRegister > span a {
  padding: 5px 0px;
  font-size: 1em;
  font-weight: 700;
  text-decoration: none;
  color: #49555c;
}

#menuRegister > span a:hover {
  color: #1c2023;
}

#menuRegister > span:hover {
  cursor: pointer;
}

#menuRegister > span:hover a {
  color: #1c2023;
}

#menuRegister > span:before {
  content: '';
  display: block;
  width: 0;
  height: 3px;
  background: #fff;
  position: absolute;
  bottom: 0;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

#menuRegister > span:hover:before {
  width: 100%;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

@media (max-width: 576px) {
  #menuRegister > span {
    width: 90px;
    padding: 0;
  }

  #menuRegister > span a {
    font-size: 0.5em;
  }
}

@media (max-width: 768px) {
  #menuRegister > span {
    width: 90px;
    padding: 0;
  }

  #menuRegister > span a {
    font-size: 0.5em;
  }
}

@media (max-width: 1200px) {
  #menuRegister > span {
    width: 150px;
    padding: 0;
  }

  #menuRegister > span a {
    font-size: 0.5em;
    font-weight: 800;
  }
}

.izquierda:before {
  left: 0;
}

.derecha:before {
  right: 0;
}

h1 {
  font-size: 18px;
  font-weight: 800;
}

.contenedor-registro {
  width: 100%;
  max-width: 500px;
  margin: auto;
  border-radius: 30%;
}

.contenedor-registro form {
  width: 500px;
  padding: 50px;
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-label-group input,
.form-label-group label {
  height: 2rem;
  padding: 0.3rem;
  font-size: 14px;
}

.form-label-group label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0;
  line-height: 1.5;
  color: #495057;
  pointer-events: none;
  cursor: text;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
  color: transparent;
}

.form-label-group input:-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-moz-input-placeholder {
  color: transparent;
}

.form-label-group input::-webkit-input-placeholder {
  color: transparent;
}

.form-label-group input:-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::placeholder {
  color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
  padding-top: 1.25rem;
  padding-bottom: 0.25rem;
}

.form-label-group input:not(:placeholder-shown) ~ label {
  padding-top: 0.1rem;
  -webkit-padding-after: 0.1rem;
          padding-block-end: 0.1rem;
  font-size: 11px;
  color: #777;
}

.error {
  color: red;
  font-size: 14px;
}

.error h4 {
  color: #bbb;
  font-size: 16px;
  font-weight: 900;
}

