.contenedor_tableboard {
  display: grid;
  grid-template-columns: minmax(375px, 100%);
  grid-template-rows: 90px 74vh 150px;
  grid-template-areas: 'head' 'main' 'footer';
}

@media screen and (max-width: 1240px) {
  .contenedor_tableboard {
    grid-template-rows: 90px 140vh 90px;
  }
}

@media screen and (max-width: 629px) {
  .contenedor_tableboard {
    grid-template-rows: 90px 132vh 150px;
  }
}

#head {
  grid-area: head;
}

.contenido {
  grid-area: main;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 5px;
}

#footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-area: footer;
  background: rgba(16, 16, 16, 0.7);
}

#subir {
  visibility: hidden !important;
}

