// boody

// fuente
$font-family: Roboto, sans-serif;
$font-size-1: 1.2rem;
$font-size-2: 1rem;
$font-size-3: 0.9rem;
$font-size-4: 0.8rem;
$font-size-5: 0.6rem;
$font-size-6: 0.5rem;

// colores
$azul_scrabble: #054781;
$verde_scrabble: #118652;
$verde_claro_scrabble: #00a07c;
$color_borde_scrabble: #b2faf6;
$double_letter: #6de3fd;
$triple_letter: #1ad0ff;
$double_word: #ffa8a1;
$triple_word: #ff2e1a;
$borde_textura_madera: rgba(248, 200, 69, 0.507);
$gris_opacidad_alta: rgba(231, 231, 231, 0.3);
$gris_opacidad_media: rgba(231, 231, 231, 0.6);
$gris_opacidad_baja: rgba(231, 231, 231, 0.9);

// otros
$gap: 10px;
$radius-5: 5px;
$radius-10: 10px;
$radius-circle: 50%;
