#contenedor {
  display: grid;
  // tamaño columnas px, %, fr (fracción)
  grid-template-columns: minmax(
    375px,
    100%
  ); // repetimos con auto ajuste con max y min
  grid-template-rows: 90px 400px 1fr 920px 150px; // tamaño filas px, %, fr (fracción)
  grid-gap: 0; // separación entre celdas
  grid-template-areas:
    'head '
    'user'
    'main'
    'challenges'
    'footer';
  height: 8vh;
  @media screen and (max-width: 1450px) {
    grid-template-rows: 90px 400px 1010px 1350px 90px;
    height: 365vh;
  }
  @media screen and (max-width: 866px) {
    grid-template-rows: 90px 400px 1530px 1330px 150px;
    height: 365vh;
  }
}
#head {
  grid-area: head;
}
#user {
  grid-area: user;
  min-width: 375px;
  width: 100%;
  // height: calc(100vh - 40vh - 90px);
  // max-height: 700px;
  // height: 100%;
}
#main {
  grid-area: main;
  min-width: 375px;
  width: 100%;
  // max-height: 700px;
  // height: 40vh;
  @media screen and (max-width: 1450px) {
    height: 200vh;
  }
}
.infochallenge {
  grid-area: challenges;
  display: flex;
  justify-content: center;
}

#footer {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: footer;
  background: rgba(16, 16, 16, 0.7);
}

#subir {
  display: none !important;
}
