.contenedor_tableboard {
  display: grid;
  grid-template-columns: minmax(375px, 100%);
  grid-template-rows: 90px 74vh 150px;
  //grid-gap: 10px; // separación entre celdas
  grid-template-areas: 'head' 'main' 'footer';

  @media screen and (max-width: 1240px) {
    grid-template-rows: 90px 140vh 90px;
  }

  @media screen and (max-width: 629px) {
    grid-template-rows: 90px 132vh 150px;
  }
}

#head {
  grid-area: head;
}

.contenido {
  grid-area: main;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 5px;
}

#footer {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: footer;
  background: rgba(16, 16, 16, 0.7);
}

#subir {
  visibility: hidden !important;
}
